In [40]:
import datetime

# Get the current date and time
current_time = datetime.datetime.now()

# Print the current date and time
print("Timestamp:", current_time)

Timestamp: 2024-04-05 09:22:52.007173

In [41]:
# pip install ipykernal
# pip install pandas
# pip install numpy
#pip install matplotlib  
#pip install seaborn
#pip install statsmodels
# pip install scikit-learn
# pip install openpyxl

## Lab session 1
Use dataset of penguins to find the correlation between the columns and to draw the regression plot for each variable as well as heatmap and pairplot

## Lab session 2
To perform exploratory data analysis using data of penguins to find different trends and patterns in the data

## Lab session 3
To perform the EDA on --------------- to find the different patterns and trends in the given dataset

## Lab Session 4
Write compete detail of left join, right join, inner and outer join. Develop two dataframes of 15 rows with columns as
data1= id, Name, nationality,age\
data2= id, Marks in math, marks in science, marks in english, marks in history
and merge these dataframes using all types of joins.

## Lab session 5

Using the dataset of titanic, check the normal distribution of all numeric columns and use power transformation and quantile transformation methods (Whichever approperiate) to convert these columns as parametric distribited columns

## Lab session 6
Use the one hot encoding, ordinal encoding and label encoding to convert the categorical columns into encoded data using the data of tips

In [42]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
df=sns.load_dataset("titanic")
df.rename(columns={"sex":"gender"},inplace=True)
df.head()

,survived,pclass,gender,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True