In [244]:
# pip install ipykernal
# pip install pandas
# pip install numpy
#pip install matplotlib  
#pip install seaborn
#pip install statsmodels
# pip install scikit-learn
# pip install openpyxl

# Pandas

In [245]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [283]:
df=sns.load_dataset("titanic")

In [285]:
df.rename(columns={"sex":"gender"},inplace=True)

In [286]:
df.head()

,survived,pclass,gender,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [274]:
# pip install statsmodels
# pip install scipy
# pip install openpyxl