In [ ]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import ttest_1samp

In [ ]:
df=sns.load_dataset('titanic')

In [ ]:
df.head(5)

In [ ]:
df1=df[["sex","age"]]

In [ ]:
df1

In [ ]:
df1.describe()

In [ ]:
ttest_1samp(df1["age"],45)

In [ ]:
from scipy.stats import ttest_1samp
ttest_1samp(df1["age"],45)

state, p_value=ttest_1samp(df1["age"],45)
print("state=",state,"p_value=",p_value)
if p_value> 0.05:
    print("There is no significance difference")
else:
    print("There is significance difference")

In [ ]:
df2=df[["fare"]]

In [ ]:
df2.describe()

In [ ]:
from scipy.stats import ttest_1samp
ttest_1samp(df2["fare"],32)

state, p_value=ttest_1samp(df2["fare"],32)
print("state=",state,"p_value=",p_value)
if p_value> 0.05:
    print("There is no significance difference")
else:
    print("There is significance difference")

# Two sample t test

In [ ]:
male=df1[df1["sex"]=="male"]
male.head()

In [ ]:
female=df1[df1["sex"]=="female"]
female.head()

In [ ]:
from scipy.stats import ttest_ind
state, p_value=ttest_ind(male["age"], female["age"])
print("state=",state,"p_value=",p_value)
if p_value> 0.05:
    print("There is no significance difference")
else:
    print("There is significance difference")

In [ ]:
male.describe()

In [ ]:
female.describe()

# Paired t test

In [ ]:
df1=df[["sex","class", 'age']]

In [ ]:
df1.head()

In [ ]:
male.head()

In [ ]:
male=df[df["sex"]=="male"]

In [ ]:
male.head()

In [ ]:
female=df[df1["sex"]=="female"]

In [ ]:
male_first=male[male['class']=="First"]
male_second=male[male['class']=="Second"]
male_third=male[male['class']=="Third"]

In [ ]:
first=male_first.sample(n=100)
second=male_second.sample(n=100)

In [ ]:
first.shape

In [ ]:
from scipy.stats import ttest_rel
ttest_rel(first["age"], second['age'])

In [ ]:
e = ["apple","banana","orange",20.5,True,15]

In [ ]:
e