In [7]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [8]:
# import dataset
df1 = sns.load_dataset('titanic')
# check the head of the dataset
df1.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [9]:
df1.rename(columns={'sex': 'gender'}, inplace=True)

In [10]:
df1.head()

,survived,pclass,gender,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [11]:
#%pip install nbformat

In [12]:
# scatter plot
df1.dropna(inplace=True)
%pip install nbformat
fig = px.scatter(df, x="age", y= "fare")
fig.show()
# Save the plot as a PNG image with 300 DPI resolution

#fig.write_image('scatterplot.png', format='png', width=800, height=600, scale=3)

Requirement already satisfied: nbformat in c:\users\adeel\appdata\local\programs\python\python312\lib\site-packages (5.9.2)
Requirement already satisfied: fastjsonschema in c:\users\adeel\appdata\local\programs\python\python312\lib\site-packages (from nbformat) (2.19.1)
Requirement already satisfied: jsonschema>=2.6 in c:\users\adeel\appdata\local\programs\python\python312\lib\site-packages (from nbformat) (4.20.0)
Requirement already satisfied: jupyter-core in c:\users\adeel\appdata\roaming\python\python312\site-packages (from nbformat) (5.7.0)
Requirement already satisfied: traitlets>=5.1 in c:\users\adeel\appdata\roaming\python\python312\site-packages (from nbformat) (5.14.1)
Requirement already satisfied: attrs>=22.2.0 in c:\users\adeel\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\adeel\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\adeel\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat) (0.32.1)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\adeel\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat) (0.17.1)
Requirement already satisfied: platformdirs>=2.5 in c:\users\adeel\appdata\roaming\python\python312\site-packages (from jupyter-core->nbformat) (4.1.0)
Requirement already satisfied: pywin32>=300 in c:\users\adeel\appdata\roaming\python\python312\site-packages (from jupyter-core->nbformat) (306)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

NameError: name 'df' is not defined

In [ ]:
# scatter plot
df1.dropna(inplace=True)
fig = px.scatter(df, x="age", y="fare", color="gender", size='fare', title="Plot of Titanic Dataset")
fig.show()

In [ ]:
# customize the plot

fig.update_layout(
    title = "Line Plot of dummy data",
    xaxis = dict(title="Numbers"),
    yaxis = dict(title="Values"),
    showlegend = True,
)
fig.show()

In [ ]:
# Import dataset
df = sns.load_dataset('iris')
df.head()

In [ ]:
# Line plot
df_line = df.sort_values(by=['sepal_length'])

fig2 = px.line(df_line, x='sepal_length' , y='sepal_width', color="species")
fig2.show()

In [ ]:
#Scatter plot
fig1 = px.scatter(df, x='sepal_length' , y='sepal_width', color="species")
fig1.show()

In [ ]:
# group values based on means
df_bar = df.groupby(['species']).mean().reset_index()
df_bar.head()
fig3 = px.bar(df_bar, x='species' , y='sepal_width')
fig3.show()

In [ ]:
# Box plot

fig4 = px.box(df, x='species' , y='sepal_width', color = 'species')
fig4.show()

In [ ]:
# violon plot

fig5 = px.violin(df, x='species' , y='sepal_width', color = 'species', box=True)
fig5.show()

In [ ]:
#6 histogram

fig6 = px.histogram(df, x='sepal_width',color = 'species')
fig6.show()

In [ ]:
# Pie chart
#first we have to check the dataset
df['species'].value_counts()
# piechart
df_pie = df['species'].value_counts().reset_index()
df_pie.columns = ['species', 'count']
fig7 = px.pie(df_pie, values='count', names='species')
fig7.show()

In [ ]:
# scatter 3d plot
fig8 = px.scatter_3d(df, x='sepal_length', y='sepal_width', z='petal_width', color='species')
fig8.show()

In [ ]:
# area chart
df_area = df.sort_values(by=['sepal_length'])

fig9 = px.area(df_area, x='sepal_width', y='sepal_length', color='species')
fig9.show()

In [ ]:
# bubble chart

fig10 = px.scatter(df, x='sepal_length', y='sepal_width', size='petal_length', color='species')
fig10.show()

In [ ]:
df1.head()

In [ ]:
# create sunburst plot on titanic dataset
import plotly.express as px
import seaborn as sns
# Load Titanic dataset

# Create a sunburst plot
fig = px.sunburst(df1, 
                  path=['gender','class', 'who', 'alive', 'alone'], 
                  values='survived' , color='gender')
# Show the plot
fig.show()

In [ ]:
tips = sns.load_dataset('tips')
tips.head()
import plotly.express as px
import seaborn as sns
fig = px.sunburst(tips, 
                  path=['sex','smoker', 'day', 'time'], 
                  values='tip' , color='sex',
                  hover_data=['tip', 'day', 'time'])
# how can we add more values when we hover the pointer on the plot?
# Show the plot
fig.show()

# Animated graphs

In [ ]:
# 2 import Dataset
gap = px.data.gapminder()

# explore the data
gap.head()

In [ ]:
fig = px.sunburst(gap, 
                  path=['continent','country', 'year'], 
                  values='pop' , color='continent')
# how can we add more values when we hover the pointer on the plot?
# Show the plot
fig.show()

In [ ]:
# animated plot
px.scatter(gap, x= "gdpPercap",
            y = "lifeExp",
            size= "pop", color= "continent",
            animation_frame='year', animation_group="country",
            log_x=True, size_max=50, range_x=[100,100000], range_y=[5,100])

In [ ]:
# animated plot
px.scatter(gap, x= "gdpPercap",
            y = "lifeExp",
            size= "pop", color= "country",
            animation_frame='year', animation_group="continent",
            log_x=True, size_max=55, range_x=[100,100000], range_y=[5,100])