In [ ]:
print(2+3)

In [ ]:
print("Hello World")

In [ ]:
print("We are learning Python with Adeel")

In [ ]:
print(2+1)

In [ ]:
print(4-5)

In [ ]:
print(5*3)

In [ ]:
print(4/2)

In [ ]:
print(17%3)

In [ ]:
print(7//2)

In [ ]:
print(3**4)

In [ ]:
print(3**2/2*4/3+5-3) # PEMDAS

In [ ]:
a= "Hello World" 
a

In [ ]:
b = "We are learning Python with Adeel" 
b

In [ ]:
c= 20 #int

In [ ]:
d = 20.5 #float
d

In [ ]:
e = ["apple","banana","orange",20.5,True,15] #list
e

In [ ]:
f = ("apple","banana","orange",20.5,True,15) #tuple
f

In [ ]:
g = {"name":"Abdul Hannan","age":27,"weight":76.5,"height":167.5} #dict
g

In [ ]:
a="Pakistan"
print(a[0])
print(a[4])
print(a[0:5])

In [ ]:
x="zeshan"
print(x)
print(x.upper())
print(x.replace("a","e"))

In [ ]:
print(a[:7])
print(a[1:])
print(a[-4:]) 
print(a[:-3])

# Lists[]

In [ ]:
list1=[2,5,63,25,21,33,65,9,89,8,25]
list1

In [ ]:
list1.sort()
list1

In [ ]:
len(list1)

In [ ]:
list1*3

In [ ]:
list1.append("B")
list1

In [ ]:
# To add the B in the middle of list
list1.insert(5,"B")
list1

In [ ]:
# To remove the B from middle of the list
list1.remove("B")
list1

In [ ]:
myList = ['abc', 'def', 'ghij']
myList.append('klm')
myList

In [ ]:
myList2 = [1,2,3]
myList3 = [4,5,6]
myList2 + myList3

# Dictionaries{}

In [ ]:
dic1={"a":25,"b":65,"c":98,"d":87}
dic1

In [ ]:
dic1.values()

In [ ]:
dic1.keys()

In [ ]:
dic1["e"]=10
print(dic1)
dict_2 = {"f": 120, "g":110,"h":70}
print(dict_2)
dict_2.update(dic1)
print(dict_2)

# Tuple()

In [ ]:
tup_1=(2,"Pak",True,4.3)
tup_1

In [ ]:
tup_2=(4,"Pakistan",False,3.6)
tup_2

In [ ]:
tup_1+tup_2

In [ ]:
tup_1*2+tup_2

In [ ]:
tup_3=(40,33,45,76,87,98,34,65,89)
tup_3

In [ ]:
print(max(tup_3))
print(min(tup_3))

In [ ]:
 import numpy as np
 myTuple = ('abc', np.arange(0,3,0.2), 2.5)
 myTuple[2]

In [ ]:
s1={1,2,5,"karachi", "lahore", "islamabad"}
print(s1)
s1.add("patoki")
print(s1)

# Array

In [ ]:
import numpy as np
a=np.array([1,2,3,4,5])
a

In [ ]:
b=np.zeros(5)
b

In [ ]:
c=np.ones(4)
c

In [ ]:
d=np.arange(10)
d

In [ ]:
e=np.arange(2,10)
e

In [ ]:
f=np.arange(1,100,5)
f

# 2-D array

In [ ]:
np.array([[1,2,3,5,6],[5,3,6,2,1]])

In [ ]:
print(np.ones((4,5)))
print(np.ones((6,7)))

# 3-D array

In [ ]:
c=np.arange(24).reshape(2,3,4)
c

In [ ]:
a=np.array([[[1,2,5,6],
[5,7,8,11]],
[[9,5,2,3],
[8,7,4,5]],
[[5,4,3,2],
[5,6,4,2]]])
a

In [ ]:
a=np.arange(24).reshape(2,3,4)
a

In [ ]:
print(a.ndim)
print(a.size)
print(a.shape)

In [ ]:
b=np.arange(9)
b

In [ ]:
c=b.reshape(3,3)
c

# Matrices

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.animation as animation
import pandas as pd
import seaborn as sns

In [ ]:
b=np.arange(1,100,5)
b

In [ ]:
b=np.arange(1,100,5).reshape(4,5)
b

In [ ]:
print(b[0:2,1:4])
print(b.max())
print(b.sum())
print(b.min(axis=0))

In [ ]:
c=((5,2),(5,4),(7,8))
c

In [ ]:
d=np.arange(1,12,2).reshape(3,2)
d

In [ ]:
print(c*d)
print(c+d)

In [ ]:
z=np.arange(24).reshape(2,3,4)
z

# Conditional formatting

In [ ]:
a=5
b=15
c=20.5

In [ ]:
if a<b: 
       print("a is less than b")

In [ ]:
if c<b:
    print("c is less than b")
else:
    print("c is greater than b")

In [ ]:
person_a_name=input("Enter your name: ")
person_a_age=input("Enter your age: ")
person_b_name=input("Enter your name: ")
person_b_age=input("Enter your age: ")

In [ ]:
if person_a_age > person_b_age:
    print(person_a_name,"is older than", person_b_name)
elif person_a_age < person_b_age:
    print(person_a_name," is younger than",person_b_name)
else:
    print(person_a_name,"is the same age as",person_b_name)

# BMI

In [ ]:
Height=input("Enter your height in cms: ")
Height
Height=float(Height)

In [ ]:
weight=float(input("Enter your weight in kgs: "))
weight

In [ ]:
BMI=weight/Height**2
BMI

# Loops

In [ ]:
# For loop
foods=['bacon','tuna','ham','sausages','beef','eggs','chicken']
for food in foods:
	print(food)

In [ ]:
# write good example of for loop
for x in range(1,11):
    print(x)

In [ ]:
for x in range(1,11,2):
    print(x)

In [ ]:
# While loop
i=1
while i<=20:
    print(i)
    i+=2

In [ ]:
# for loop with if else
for x in range(1,11):
    if x%2==0:
        print(x,"is even")
    else:
        print(x,"is odd")

In [ ]:
# for nested loops
colors=["red","green","blue","yellow","orange","purple"]
items=["shirt","hat","socks","pants","jacket","shorts"]
for color in colors:
    for item in items:
        print(color,item)

In [ ]:
for i in range(1,100,30):
    for j in range (200,300,20):
        print(i*j)

In [ ]:
# for loop inside while loop
i = 1
while i < 10:
    for j in range(1,10):
        print(i, j)
    i+=1

In [ ]:
# while loop inside for loop
for i in range(1,10):
    j = 1
    while j < 10:
        print(i, j)
        j+=1

# Functions

In [ ]:
def square(number):
    return number*number
print(square(5))

In [ ]:
def add(a,b):
    return a+b
print(add(2,3))

# Lambda function

In [ ]:
# Lambda function
x = lambda a,b:a+b
print(x(2,3))

In [ ]:
x=lambda a: a*5
print(x(2))

In [ ]:
x=lambda a,b,c: a+b+c
print(x(2,3,4))

In [ ]:
# pip install openpyxl

# Pandas library

In [ ]:
# import data of titanic
titanic = sns.load_dataset('titanic')

In [ ]:
titanic.head()

In [ ]:
# Import data from file
df=pd.read_csv('titanic.csv')

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.dtypes

In [ ]:

df.describe()

In [ ]:
len(df)

In [ ]:
df.isnull().sum()

In [ ]:
df.isnull().sum() / len(df) * 100 # percentage of missing values in a column

In [ ]:
df.isnull()

In [ ]:
sns.heatmap(df.isnull(), cbar=False)

In [ ]:
df.rename(columns={'sex': 'gender'}, inplace=True)

In [ ]:
df.head()

In [ ]:
df['gender'] # to select one column by name
df[['gender', 'age']] # to select two columns
df[['gender', 'age', 'fare']] # to select more than 2 column

In [ ]:
df['gender'].unique() # uniques values in a column
df.gender.nunique() # find number of unique values

In [ ]:
df.nunique() # to find number of unique values in all columns

In [ ]:
df.columns # to print the column names

In [ ]:
df['embark_town'].unique()

In [ ]:
# value count
df['embark_town'].value_counts()

In [ ]:
# Summary
df.describe()

In [ ]:
df.head()

In [ ]:
# find mean fars of both males and females using groubpy function
df.groupby(['survived', 'who']).size()

In [ ]:
# correlation matrix
correlation_df = df[['fare', 'age', 'sibsp', 'parch']].corr()

In [ ]:
sns.heatmap(correlation_df, annot=True)

In [ ]:
sns.pairplot(df)

# Handle missing values

In [ ]:
# find out the percentage of missing values
df.isnull().sum() / len(df) * 100

In [ ]:
df.isnull().sum()

In [ ]:
#1- drop the column having more than 70% of missing values from dataset
df.drop('deck', axis=1, inplace=True)

In [ ]:
df['age'].mean()

In [ ]:
df['age'].median()

In [ ]:
df['age'].mode()

In [ ]:
# 2- filling missing values of age column by the mean of age
df['age'].fillna(df['age'].mean(), inplace=True)

In [ ]:
df['age'].fillna(df['age'].median(), inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
# fill embark and embarked_town with mode
df['embarked'].fillna(df['embarked'].mode()[0], inplace=True)

In [ ]:
df.head()

In [ ]:
df["embark_town"].fillna(df["embark_town"].mode()[0], inplace=True)

In [ ]:
df.age.min()

In [ ]:
df.age.max()

In [ ]:
sns.histplot(df['age'])

In [ ]:
# binning of age column into 7 categories
bins = [0,1,5,12,18,30,50,80]
labels = ['Infants', 'Toddlers', 'Kids', 'Teens', 'Youngs', 'Middle Aged', 'Old']

In [ ]:
pd.cut(df['age'], bins=bins, labels=labels)

In [ ]:
df.head()

# Feature engineering

In [ ]:
bins = [0,1,5,12,18,30,50,80]
labels = ['Infants', 'Toddlers', 'Kids', 'Teens', 'Youngs', 'Middle Aged', 'Old']
# kis column ko bins main convert karna hy

df['binned_age'] = pd.cut(df['age'], bins=bins, labels=labels)

In [ ]:
df['binned_age'].value_counts()

# Data Filteration

In [ ]:
df_01 = df[['survived','binned_age','fare','class']]

In [ ]:
df_01.info()

In [ ]:
df['class'].value_counts()

In [ ]:
# filter the data based on rows criteria
df_first = df_01[df_01['class'] == 'First']
df_first

In [ ]:
# lets select only those rows whihc have paid more than 200 Pounds
df_200 = df_01[df_01['fare'] > 200]
df_200

In [ ]:
df_200['class'].value_counts()

In [ ]:
# how to add two filter
df_01[(df_01['fare'] > 70) & (df_01['class']=='First')].sort_values(by='fare')

# Data visualization

In [ ]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# import titanic data from seaborn library
df = sns.load_dataset('titanic')

In [ ]:
df.head()

In [ ]:
df.rename(columns={"sex": "gender"}, inplace=True)

In [ ]:
df.head()

In [ ]:
df.plot(kind='scatter', x='age', y='fare')

In [ ]:
# change colors using hex codes
df.plot(kind='scatter', x='age', y='fare', color = '#32a852')

In [ ]:
df.plot(kind='scatter', x='age', y='fare', color = 'red')

In [ ]:
group=df.groupby('gender')['fare'].mean()
group

In [ ]:
group.plot(kind="bar")
plt.ylabel('Average Fare')
plt.xlabel('Gender')

In [ ]:
# seaborn plots
# bar plot using seaborn on df
sns.barplot(data = df, x= 'survived', y = 'fare')

In [ ]:
sns.scatterplot(data = df, y= 'fare', x = 'age', hue='class')

In [ ]:
# scatter plot
sns.scatterplot(data = df, x = 'age', y='fare', hue = 'gender')
plt.figure(figsize=(8,4)) # a4 page size 16:9

In [ ]:
# scatter plot
# scatter plot size of figure size
plt.figure(figsize=(8,4)) # a4 page size 16:9

# change the scatter point colors
palette = {'male': 'green', 'female': 'red'}
sns.scatterplot(data=df, x='age', y='fare', hue='gender', palette=palette)
# labels
plt.xlabel('Age')
plt.ylabel('Fare')
plt.title('Scatter Plot of Age vs Fare')

In [ ]:
# saving a plot 300dpi, 600dpi, 150dpi png
#plt.savefig('fig.png', dpi=300)

# saving a plot in vector file such as svg
# lt.savefig('fig.jpg', dpi=600)

In [ ]:
# style of a plot
sns.set_theme(style='darkgrid', font_scale=1.5, font='Times New Roman')
# scatter plot size of figure size
plt.figure(figsize=(16,6)) # a4 page size 16:9

# change the scatter point colors
palette = {'male': 'green', 'female': 'red'}
sns.scatterplot(data=df, x='age', y='fare', hue='gender', size='fare', palette=palette)
# labels
plt.xlabel('Age')
plt.ylabel('Fare')
plt.title('Scatter Plot of Age vs Fare')

Interpertation:

We have Age of passengers at x-axis and fare at y-axis\
The scatter plot shows the relationship between age and fare of titanic passengers.\
We further grouped the passenger by their genders such as male (Green points) and female (Red points).\
Twpo male passengers gave the highest fare in titanic, and they might be travelling first class.\
The olderst person at titanic is also a male having 80 years of age as shown in the scatter plot. (As shown in Figure)

# Box plot

In [ ]:
df['class'].unique()

In [ ]:
# style of a plot
sns.set_theme(style='darkgrid', font_scale=1, font='Times New Roman')
# scatter plot size of figure size
plt.figure(figsize=(12,6)) # a4 page size 16:9

# change the scatter point colors
palette = {'First': 'green', 'Second': 'red', 'Third': 'blue'}
sns.boxplot(data=df, x='gender', y='age', hue='class', palette=palette)
# labels
plt.xlabel('Gender')
plt.ylabel('Age')
plt.title('Box plot of Age, based on Gender and Class Name of Passengers')

# change legend position and title
plt.legend(loc='upper right', title='Class Name')

In [ ]:
# style of a plot
sns.set_theme(style='darkgrid', font_scale=1, font='Times New Roman')
# scatter plot size of figure size
plt.figure(figsize=(12,6)) # a4 page size 16:9

# change the scatter point colors
palette = {'First': 'green', 'Second': 'red', 'Third': 'blue'}
sns.boxenplot(data=df, x='gender', y='age', hue='class', palette=palette)
# labels
plt.xlabel('Gender')
plt.ylabel('Age')
plt.title('Boxen plot of Age, based on Gender and Class Name of Passengers')

# change legend position and title
plt.legend(loc='upper right', title='Class Name')

# change the x-ticks names
plt.xticks(ticks=[0, 1], labels=["Male", "Female"], rotation=45)

In [ ]:
# bar plot using seaborn

# style of a plot
sns.set_theme(style='darkgrid', font_scale=1, font='Times New Roman')
# Bar plot size of figure size
plt.figure(figsize=(12,6)) # a4 page size 16:9

# change the bar point colors
palette = {'First': 'green', 'Second': 'red', 'Third': 'blue'}
sns.barplot(data=df, x='gender', y='age', hue='class', palette=palette, capsize=0.1)
# labels
plt.xlabel('Gender')
plt.ylabel('Age')
plt.title('Bar plot of Age, based on Gender and Class Name of Passengers')

# change legend position and title
plt.legend(loc='upper right', title='Class Name')

# change the x-ticks names
plt.xticks(ticks=[0, 1], labels=["Male", "Female"], rotation=0)

In [ ]:
# voilen plot using seaborn

# style of a plot
sns.set_theme(style='darkgrid', font_scale=1, font='Times New Roman')
# Voilen plot size of figure size
plt.figure(figsize=(12,6)) # a4 page size 16:9

# change the Voilen point colors
palette = {'First': 'green', 'Second': 'red', 'Third': 'blue'}
sns.violinplot(data=df, x='gender', y='age', hue='class', palette=palette)
# labels
plt.xlabel('Gender')
plt.ylabel('Age')
plt.title('Bar plot of Age, based on Gender and Class Name of Passengers')

# change legend position and title
plt.legend(loc='upper right', title='Class Name')

In [ ]:
# import pandas and matplotlib.pyplot libraries
import pandas as pd
import matplotlib.pyplot as plt

# create a dictionary with sample data
data = {'Products': ['Product A', 'Product B', 'Product C'],
    'Sales': [100, 150, 80]}

# create a pandas dataframe from the dictionary
df1 = pd.DataFrame(data)

# plot the dataframe as a bar chart
df1.plot(x='Products', y='Sales', kind='bar', legend=False)

# set the y-axis label
plt.ylabel('Sales')

# set the title of the plot
plt.title('Sales of different products')


# display the plot
plt.show()

# Pie Chart

In [ ]:
# import pandas and matplotlib.pyplot libraries
import pandas as pd
import matplotlib.pyplot as plt
# create a dictionary with sample data
data = {'Products': ['Product A', 'Product B', 'Product C'],
        'Sales': [100, 150, 80]}
# create a pandas dataframe from the dictionary
df1 = pd.DataFrame(data)
# plot the dataframe as a pie chart
df1.set_index('Products')['Sales'].plot(kind='pie', startangle=90)
# set the title of the plot
plt.title('Sales distribution of different products')
# display the plot
plt.ylabel('')  # This is to remove the 'Sales' ylabel which is unnecessary in a pie chart
plt.show()

# Histogram

In [ ]:
# import pandas and matplotlib.pyplot libraries
import pandas as pd
import matplotlib.pyplot as plt

# create a dictionary with sample data
data = {'Sales': [30,50,120,150,200,300,100, 150, 80, 120, 140, 130, 
                  50,50,30,20,10,50,35,45,55,50,55,65,56,58,58,54,55,50,5,
                  110, 145, 105, 90, 115, 125, 135, 85, 95]}
# create a pandas dataframe from the dictionary
df2 = pd.DataFrame(data)
# plot the dataframe as a histogram
df2['Sales'].plot(kind='hist', bins=5, edgecolor='black')
# set the x-axis and y-axis labels
plt.xlabel('Sales Value')
plt.ylabel('Number of Transactions')
# set the title of the plot
plt.title('Distribution of Sales Transactions')
# display the plot
plt.show()

In [ ]:
# import pandas and matplotlib.pyplot libraries
import pandas as pd
import matplotlib.pyplot as plt

# create a dictionary with sample data
data = {
    'Sales': [100, 150, 80, 120, 140, 130, 110, 145, 105, 90],
    'Profit': [50, 70, 40, 60, 75, 65, 55, 72, 52, 45]
}

# create a pandas dataframe from the dictionary
df3 = pd.DataFrame(data)

# plot the dataframe as a scatter plot
df3.plot(x='Sales', y='Profit', kind='scatter')

# set the x-axis and y-axis labels
plt.xlabel('Sales Value')
plt.ylabel('Profit Value')

# set the title of the plot
plt.title('Relationship between Sales and Profit')

# display the plot
plt.show()

In [ ]:
# import pandas and matplotlib.pyplot libraries
import pandas as pd
import matplotlib.pyplot as plt
# create a dictionary with sample data
data = {'Month': ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
    'Monthly Sales': [100, 110, 105, 115, 120, 125, 130, 135, 140, 145, 150, 155]}
# create a pandas dataframe from the dictionary
df4 = pd.DataFrame(data)
# plot the dataframe as a line chart
df4.plot(x='Month', y='Monthly Sales', kind='line', marker='o')
# set the x-axis and y-axis labels
plt.xlabel('Month')
plt.ylabel('Sales Value')
# set the title of the plot
plt.title('Monthly Sales Trend over a Year')
# display the plot
plt.show()

In [ ]:
# import required libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Sample correlation matrix
data = {'Product A': [1, 0.6, 0.8, 0.3],
    'Product B': [0.6, 1, 0.5, 0.7],
    'Product C': [0.8, 0.5, 1, 0.4],
    'Product D': [0.3, 0.7, 0.4, 1]}
# Create a pandas dataframe from the dictionary
df5 = pd.DataFrame(data)
# Plotting the heatmap
plt.figure(figsize=(8, 6))
sns.heatmap(df5, annot=True, cmap='viridis', vmin=0, vmax=1)
# Set the title of the plot
plt.title('Product Correlation Heatmap')
# Display the plot
plt.show()

In [ ]:
# import required libraries
import pandas as pd
import matplotlib.pyplot as plt
# Sample data
data = {'Product A': [95, 85, 90, 100, 105, 110],
    'Product B': [100, 105, 95, 90, 115, 120],
    'Product C': [105, 110, 115, 120, 125, 130]}
# Create a pandas dataframe from the dictionary
df6 = pd.DataFrame(data)
# Plotting the boxplot
df6.boxplot(grid=False, vert=True, fontsize=10)
# Set the title of the plot
plt.title('Sales Distribution by Product')
# Set the y-axis label
plt.ylabel('Sales Value')
# Display the plot
plt.show()

In [ ]:
# we can do the same thing with seaborn library as follows
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Sample data
data = {'Product A': [95, 85, 90, 100, 105, 110],
    'Product B': [100, 105, 95, 90, 115, 120],
    'Product C': [105, 110, 115, 120, 125, 130]}
# Create a pandas dataframe from the dictionary
df6 = pd.DataFrame(data)
# Plotting the boxplot using seaborn
plt.figure(figsize=(10, 6))
sns.boxplot(data=df6)
# Set the title of the plot
plt.title('Sales Distribution by Product')
# Set the y-axis label
plt.ylabel('Sales Value')
# Display the plot
plt.show()

In [ ]:
# import required libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Sample data
data = {'Month': ['Jan', 'Feb', 'Mar', 'Apr', 'May'],'Sales': [100, 150, 180, 220, 270]}  # Accumulated sales for demonstration}
# Create a pandas dataframe from the dictionary
df7 = pd.DataFrame(data)
# Plotting the area chart
plt.figure(figsize=(10, 6))
sns.set_style("whitegrid")
plt.fill_between(df7['Month'], df7['Sales'], color="green", alpha=0.4)
plt.plot(df7['Month'], df7['Sales'], color="yellow", alpha=0.6)
# Set the title, x-axis and y-axis labels
plt.title('Monthly Accumulated Sales')
plt.xlabel('Month')
plt.ylabel('Accumulated Sales Value')
# Display the plot
plt.show()