In [551]:
print("Hello World")

Hello World

In [552]:
print(2+3)

5

In [553]:
print("We are learning Python with Adeel")

We are learning Python with Adeel

# Operations in python

In [554]:
print(2+1)

3

In [555]:
print(4-5)

-1

In [556]:
print(5*3)

15

In [557]:
print(4/2)

2.0

In [558]:
print(17%3) #(Remainder)

2

In [559]:
print(7//2) #(No floating value)

3

In [560]:
print(3**4) #(Power function)

81

In [561]:
print(3**2/2*4/3+5-3) # PEMDAS

8.0

# Variables
Variable is a name that refers to a value. The value can be changed, hence the name variable. In Python, variables can be declared and values can be assigned to it as follows: These are the types of variables in Python:

Numbers\
String\
List\
Tuple\
Dictionary\
Set\
Boolean\

In [562]:
a= "Hello World" 
a

'Hello World'

In [563]:
age = 20
age = age + 1
print(age)

21

In [564]:
#Arithematic Operation in Python
a=11;b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b) # No floating function

14
8
33
3.6666666666666665
2
1331
3

In [565]:
#Comparision Operation in Python
a=11;b=11
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a!=b)
print(a==b)

False
False
True
True
False
True

In [566]:
#Assignment Operators (=, +=, -=, *= .....)
a=2
print(a)
a*=2; # a= a*2
print(a)

2
4

In [567]:
b = "We are learning Python with Adeel" 
b

'We are learning Python with Adeel'

In [568]:
c= 20 #int

In [569]:
d = 20.5 #float
d

20.5

# Data Types in Python
Text: str #String\
Numeric: int, float\
Sequence: list, tuple, range\
Mapping: dictionary\
Set: set\
Boolean: bool #True/ False

## String

In [570]:
string="My name is {Adeel} and i am from {Lahore}"
print(string)

My name is {Adeel} and i am from {Lahore}

# What is an f-string in Python?
An f-string (formatted string literal) is a way to embed expressions inside string literals, introduced in Python 3.6. By prefixing a string with f or F, you can include variables, expressions, or function calls directly within the string, enclosed in curly braces {}.

In [571]:
string="My name is {0} and I am from {1}"
Name="Adeel"
City="Lahore"
print(string.format(Name,City))

My name is Adeel and I am from Lahore

In [572]:
string=(f"My name is {Name} and i am from {City}")
print(string)

My name is Adeel and i am from Lahore

In [573]:
price=50.5235656
print("The price of the product is {price:.2f}")

The price of the product is {price:.2f}

In [574]:
price=50.5235656
print(f"The price of the product is {price:.3f}")

The price of the product is 50.524

In [575]:
e = ["apple","banana","orange",20.5,True,15] #list
e

['apple', 'banana', 'orange', 20.5, True, 15]

In [576]:
f = ("apple","banana","orange",20.5,True,15) #tuple
f

('apple', 'banana', 'orange', 20.5, True, 15)

In [577]:
g = {"name":"Abdul Hannan","age":27,"weight":76.5,"height":167.5} #dict
g

{'name': 'Abdul Hannan', 'age': 27, 'weight': 76.5, 'height': 167.5}

In [578]:
a="Pakistan"
print(a[0])
print(a[4])
print(a[0:5])

P
s
Pakis

In [579]:
x="zeshan"
print(x)
print(x.upper())
print(x.replace("a","e"))

zeshan
ZESHAN
zeshen

In [580]:
print(a[:7])
print(a[1:])
print(a[-4:]) 
print(a[:-3])

Pakista
akistan
stan
Pakis

# Lists[]

Ordered collection of elements\
Enclosed in [] brackets\
Mutable\
Lists allow duplicate elements, and the order in which elements are added is preserved.

In [581]:
list1=[2,5,63,25,21,33,65,9,89,8,25]
list1

[2, 5, 63, 25, 21, 33, 65, 9, 89, 8, 25]

In [582]:
list1.sort()
list1

[2, 5, 8, 9, 21, 25, 25, 33, 63, 65, 89]

In [583]:
list1.sort(reverse=True)
list1

[89, 65, 63, 33, 25, 25, 21, 9, 8, 5, 2]

In [584]:
print(list1.count(25))

2

In [585]:
len(list1)

11

In [586]:
list1*3

[89,
 65,
 63,
 33,
 25,
 25,
 21,
 9,
 8,
 5,
 2,
 89,
 65,
 63,
 33,
 25,
 25,
 21,
 9,
 8,
 5,
 2,
 89,
 65,
 63,
 33,
 25,
 25,
 21,
 9,
 8,
 5,
 2]

In [587]:
list1.append("B")
list1

[89, 65, 63, 33, 25, 25, 21, 9, 8, 5, 2, 'B']

In [588]:
# To add the B in the middle of list
list1.insert(5,"B")
list1

[89, 65, 63, 33, 25, 'B', 25, 21, 9, 8, 5, 2, 'B']

In [589]:
# To remove the B from middle of the list
list1.remove("B")
list1

[89, 65, 63, 33, 25, 25, 21, 9, 8, 5, 2, 'B']

In [590]:
myList = ['abc', 'def', 'ghij']
myList.append('klm')
myList

['abc', 'def', 'ghij', 'klm']

In [591]:
myList2 = [1,2,3]
myList3 = [4,5,6]
myList2 + myList3

[1, 2, 3, 4, 5, 6]

# Dictionaries{}
Unordered collection of elements\
Key and Value\
enclosed in {} brackets\
Mutable

In [592]:
dic1={"a":25,"b":65,"c":98,"d":87}
dic1

{'a': 25, 'b': 65, 'c': 98, 'd': 87}

In [593]:
dic1.pop("a") # To remove the key from dictionary, pop

25

In [594]:
dic1

{'b': 65, 'c': 98, 'd': 87}

In [595]:
dic1.values()

dict_values([65, 98, 87])

In [596]:
dic1.keys()

dict_keys(['b', 'c', 'd'])

In [597]:
dic1["e"]=10
print(dic1)
dict_2 = {"f": 120, "g":110,"h":70}
print(dict_2)
dict_2.update(dic1)
print(dict_2)

{'b': 65, 'c': 98, 'd': 87, 'e': 10}
{'f': 120, 'g': 110, 'h': 70}
{'f': 120, 'g': 110, 'h': 70, 'b': 65, 'c': 98, 'd': 87, 'e': 10}

In [598]:
# example of dictionary with students names and marks
marks = {"Ali": 50, "Ahmed": 70, "Hassan": 90, "Khalid": 80, "Nasir": 60}
marks

{'Ali': 50, 'Ahmed': 70, 'Hassan': 90, 'Khalid': 80, 'Nasir': 60}

In [599]:
# Example of nested dictionary
nested_dict = {"first":{"a":1},"second":{"b":2}}, {"third":{"c":3}}, {"fourth":{"d":4}}, {"fifth":{"e":5}}
print(nested_dict)

({'first': {'a': 1}, 'second': {'b': 2}}, {'third': {'c': 3}}, {'fourth': {'d': 4}}, {'fifth': {'e': 5}})

# Tuple()
Tuples are ordered, maintaining the order of elements.\
Enclosed in () braces\
Different kind of elements can be stored\
Immutable\
Allow Duplicates

In [600]:
tup_1=(2,"Pak",True,4.3)
tup_1

(2, 'Pak', True, 4.3)

In [601]:
tup_2=(4,"Pakistan",False,3.6)
tup_2

(4, 'Pakistan', False, 3.6)

In [602]:
tup_1+tup_2

(2, 'Pak', True, 4.3, 4, 'Pakistan', False, 3.6)

In [603]:
tup_1*2+tup_2

(2, 'Pak', True, 4.3, 2, 'Pak', True, 4.3, 4, 'Pakistan', False, 3.6)

In [604]:
tup_3=(40,33,45,76,87,98,34,65,89)
tup_3

(40, 33, 45, 76, 87, 98, 34, 65, 89)

In [605]:
print(max(tup_3))
print(min(tup_3))

98
33

In [606]:
import numpy as np
myTuple = ('abc', np.arange(0,3,0.2), 2.5)
myTuple[2]

2.5

# Sets()
Sets are mutable, meaning you can add or remove elements after the set is created.\
Unordered and Unindexed:Sets are unordered, meaning they do not maintain any specific order of elements.\
No Duplicates Allowed\
enclosed in () brackets

In [607]:
s1={1,2,5,"karachi", "lahore", "islamabad"}
print(s1)
s1.add("patoki")
print(s1)

{1, 2, 'lahore', 'islamabad', 5, 'karachi'}
{1, 2, 'lahore', 'islamabad', 5, 'patoki', 'karachi'}

In [608]:
cities1={"karachi","lahore","islamabad","patoki"}
cities2={"lahore","multan","hyderabad","naran"}

In [609]:
cities1.union(cities2)

{'hyderabad', 'islamabad', 'karachi', 'lahore', 'multan', 'naran', 'patoki'}

In [610]:
cities1.intersection(cities2)

{'lahore'}

# Conditional formatting

In [611]:
a=5
b=15
c=20.5

In [612]:
if a<b: 
       print("a is less than b")

a is less than b

In [613]:
if c<b:
    print("c is less than b")
else:
    print("c is greater than b")

c is greater than b

In [614]:
age = 6
if age >= 18:
    print("You are eligible to vote.")
elif age <= 5:
    print("You are still a toddler.")
elif age >=6 and age <= 10:
    print("You should enrol in a school with Form-B.")
else:
    print("Abhi chotay ho ap.")

You should enrol in a school with Form-B.

In [615]:
occassion = "Eid-ul_Fitr"

if occassion == "Eid-ul_Fitr":
    print("Let's prepare some Sheer Khurma.")
elif occassion == "Eid-ul_Adha":
    print("Let's prepare some Kebab.")
else:
    print("It's a normal day. let's have Aalo Gobhi.")

Let's prepare some Sheer Khurma.

# Nested If statements

In [616]:
age = 18
license = False

if age >= 18:
    if license:
        print("You are eligible to drive.")
    else:
        print("You are not eligible to drive, you need a license.")
else:
    print("You are not eligible to drive.")

You are not eligible to drive, you need a license.

# User Input

In [617]:
person_a_name=input("Enter your name: ")
person_a_age=input("Enter your age: ")
person_b_name=input("Enter your name: ")
person_b_age=input("Enter your age: ")

In [618]:
if person_a_age > person_b_age:
    print(person_a_name,"is older than", person_b_name)
elif person_a_age < person_b_age:
    print(person_a_name," is younger than",person_b_name)
else:
    print(person_a_name,"is the same age as",person_b_name)

asim  is younger than ali

# BMI

In [619]:
Height=input("Enter your height in cms: ")
Height
Height=float(Height)

In [620]:
weight=float(input("Enter your weight in kgs: "))
weight

98.0

In [621]:
BMI=weight/Height**2
BMI

0.003780718336483932

In [622]:
a=input("Enter the number: ")
for i in range (1,100):
    print(a,"x",i,"=",int(a)*i)

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
4 x 13 = 52
4 x 14 = 56
4 x 15 = 60
4 x 16 = 64
4 x 17 = 68
4 x 18 = 72
4 x 19 = 76
4 x 20 = 80
4 x 21 = 84
4 x 22 = 88
4 x 23 = 92
4 x 24 = 96
4 x 25 = 100
4 x 26 = 104
4 x 27 = 108
4 x 28 = 112
4 x 29 = 116
4 x 30 = 120
4 x 31 = 124
4 x 32 = 128
4 x 33 = 132
4 x 34 = 136
4 x 35 = 140
4 x 36 = 144
4 x 37 = 148
4 x 38 = 152
4 x 39 = 156
4 x 40 = 160
4 x 41 = 164
4 x 42 = 168
4 x 43 = 172
4 x 44 = 176
4 x 45 = 180
4 x 46 = 184
4 x 47 = 188
4 x 48 = 192
4 x 49 = 196
4 x 50 = 200
4 x 51 = 204
4 x 52 = 208
4 x 53 = 212
4 x 54 = 216
4 x 55 = 220
4 x 56 = 224
4 x 57 = 228
4 x 58 = 232
4 x 59 = 236
4 x 60 = 240
4 x 61 = 244
4 x 62 = 248
4 x 63 = 252
4 x 64 = 256
4 x 65 = 260
4 x 66 = 264
4 x 67 = 268
4 x 68 = 272
4 x 69 = 276
4 x 70 = 280
4 x 71 = 284
4 x 72 = 288
4 x 73 = 292
4 x 74 = 296
4 x 75 = 300
4 x 76 = 304
4 x 77 = 308
4 x 78 = 312
4 x 79 = 316
4 x 80 = 320
4 x 81 = 324
4 x 82 = 328
4 x 83 = 332
4 x 84 = 336
4 x 85 = 340
4 x 86 = 344
4 x 87 = 348
4 x 88 = 352
4 x 89 = 356
4 x 90 = 360
4 x 91 = 364
4 x 92 = 368
4 x 93 = 372
4 x 94 = 376
4 x 95 = 380
4 x 96 = 384
4 x 97 = 388
4 x 98 = 392
4 x 99 = 396

In [623]:
# Value errors
a=int(input("Enter the number between 1 and 10: "))
if a>10 or a<1:
    raise ValueError("The number is not between 1 and 10")

# Loops
Both for and while are control flow statements in programming languages that allow you to create loops, which are used for repeating a block of code multiple times.\
The for loop is typically used when you know in advance how many times you want to iterate, and you have a sequence (list, tuple, string, etc.) to iterate over.\

The while loop is used when you don't know in advance how many times the loop needs to run. It continues iterating as long as the specified condition is True.\

Use a for loop when you know the number of iterations in advance and have a sequence to iterate over. Use a while loop when the number of iterations is not known in advance and is determined by a condition

In [624]:
# For loop
foods=['bacon','tuna','ham','sausages','beef','eggs','chicken']
for food in foods:
	print(food)

bacon
tuna
ham
sausages
beef
eggs
chicken

In [625]:
# write good example of for loop
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [626]:
for x in range(1,11,2):
    print(x)

1
3
5
7
9

In [627]:
# While loop
i=1
while i<=20:
    print(i)
    i+=2

1
3
5
7
9
11
13
15
17
19

In [628]:
# for loop with if else
for x in range(1,11):
    if x%2==0:
        print(x,"is even")
    else:
        print(x,"is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [629]:
# for nested loops
colors=["red","green","blue","yellow","orange","purple"]
items=["shirt","hat","socks","pants","jacket","shorts"]
for color in colors:
    for item in items:
        print(color,item)

red shirt
red hat
red socks
red pants
red jacket
red shorts
green shirt
green hat
green socks
green pants
green jacket
green shorts
blue shirt
blue hat
blue socks
blue pants
blue jacket
blue shorts
yellow shirt
yellow hat
yellow socks
yellow pants
yellow jacket
yellow shorts
orange shirt
orange hat
orange socks
orange pants
orange jacket
orange shorts
purple shirt
purple hat
purple socks
purple pants
purple jacket
purple shorts

In [630]:
for i in range(1,100,30):
    for j in range (200,300,20):
        print(i*j)

200
220
240
260
280
6200
6820
7440
8060
8680
12200
13420
14640
15860
17080
18200
20020
21840
23660
25480

In [631]:
# for loop inside while loop
i = 1
while i < 10:
    for j in range(1,10):
        print(i, j)
    i+=1

1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
5 1
5 2
5 3
5 4
5 5
5 6
5 7
5 8
5 9
6 1
6 2
6 3
6 4
6 5
6 6
6 7
6 8
6 9
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
8 1
8 2
8 3
8 4
8 5
8 6
8 7
8 8
8 9
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8
9 9

In [632]:
# while loop inside for loop
for i in range(1,10):
    j = 1
    while j < 10:
        print(i, j)
        j+=1

1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
5 1
5 2
5 3
5 4
5 5
5 6
5 7
5 8
5 9
6 1
6 2
6 3
6 4
6 5
6 6
6 7
6 8
6 9
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
8 1
8 2
8 3
8 4
8 5
8 6
8 7
8 8
8 9
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8
9 9

In [633]:
i = 0
while i < 5:
    print(i)
    i += 1
    if i == 3:
        break
else:
    print(0)

0
1
2

In [634]:
#continue, break, pass
for i in range(1,11):

  if i==1:
    pass
  if i==5:
    continue
  if i==8:
    break
  print ("This is iteration no. ", i)

This is iteration no.  1
This is iteration no.  2
This is iteration no.  3
This is iteration no.  4
This is iteration no.  6
This is iteration no.  7

# enumerate function

In [635]:
marks=[5,56,71,89,45,67,90,34,78,98]
index=0
for mark in marks:
    if (index==5):
        print("We are learning pythin ")
    print(mark)
    index +=1

5
56
71
89
45
We are learning pythin
67
90
34
78
98

In [636]:
# but we can do it with enumerate function more easily
marks=[5,56,71,89,45,67,90,34,78,98]
for index, mark in enumerate (marks):
    if (index==5):
        print("We are learning pythin ")
    print(mark)

5
56
71
89
45
We are learning pythin
67
90
34
78
98

In [637]:
# but we can do it with enumerate function more easily
marks=[5,56,71,89,45,67,90,34,78,98]
for index, mark in enumerate (marks, start=1):
    if (index==5):
        print("We are learning pythin ")
    print(mark)

5
56
71
89
We are learning pythin
45
67
90
34
78
98

# Functions

# def function
In most programming languages, including Python, the def keyword is used to define a function. A function is a block of reusable code that performs a specific task or a set of tasks. Functions are a fundamental concept in programming as they allow you to organize code into modular and reusable units.

# lambda function
In Python, a lambda function is a concise way to create anonymous (unnamed) functions. Lambda functions are also known as anonymous functions or lambda expressions. They are defined using the lambda keyword and can take any number of parameters.\
It's important to note that while lambda functions are useful for certain situations, they are limited compared to named functions. Lambda functions are best suited for simple operations, and for more complex functionality, it is often more readable and maintainable to use a regular named function.

In [638]:
def square(number):
    return number*number
print(square(5))

25

In [639]:
def add(a,b):
    return a+b
print(add(2,3))

5

In [640]:
# Factorial
print(7*6*5*4*3*2*1)
print(6*5*4*3*2*1)
print(5*4*3*2*1)
# factorial of 0 is 1 by definition
print(4*3*2*1)
# so we can write that
# factorial (n)=n*factorial(n-1)

5040
720
120
24

In [641]:
# Now we can make a function for factorial
def factorial (n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)

In [642]:
factorial(3)

6

In [643]:

# pass a function into a function
def cube (number):
    return number**3
print(cube(5))
# use this function in another function is given below

125

In [644]:

def apply(fx, value):
    return 6+ fx(value)
print (apply(cube, 4))

70

# Lambda function

In [645]:
def double(x):
    return x*2
print(double(5))
print(double(7))

10
14

In [646]:
# We can write this function as
double=lambda x: x*2
print(double(5))

10

In [647]:
cube=lambda x: x**3
print(cube(4))

64

In [648]:
# Lambda function
x = lambda a,b:a+b
print(x(2,3))

5

In [649]:
x=lambda a: a*5
print(x(2))

10

In [650]:
x=lambda a,b,c: a+b+c
print(x(2,3,4))

9

In [651]:
# pip install openpyxl

# Map function

In [652]:
def cube (x):
    return x**3
# Now we can use this function in map function
l=[1,3,4,5,8,15]
for i in l:
    print(cube(i))

1
27
64
125
512
3375

In [ ]:
def square(x):
    return x**2

# A list of numbers
numbers = [2, 4, 6, 8, 10]

# Using map to apply the square function to each element
squared_numbers = map(square, numbers)

# Converting the map object to a list (avoiding the variable name 'list')
squared_list = list(squared_numbers)

print(squared_list)

In [655]:
def cube (x):
    return x**3
print(cube(5))
# Now we can use this function in map function
l=[1,3,4,5,8,15]
list_empty=[]
for i in l:
    list_empty.append(cube(i))
    print(list)

125
[1, 27, 64, 125, 512, 3375]
[1, 27, 64, 125, 512, 3375]
[1, 27, 64, 125, 512, 3375]
[1, 27, 64, 125, 512, 3375]
[1, 27, 64, 125, 512, 3375]
[1, 27, 64, 125, 512, 3375]

# Classes and objects

In [656]:
# Class is a blueprint for creating objects. An object has properties and methods(functions) associated with it. Almost everything in Python is an object, with its properties and methods. A Class is like an object constructor, or a "blueprint" for creating objects.

In [657]:
class person:
    name="Adeel"
    Occupation="Lecturer"
    networth="1M PKR"

In [658]:
a= person()
a.name="Adeel munir"
a.Occupation="Data Scientist"
print (a.name, a.Occupation)

Adeel munir Data Scientist

In [659]:
class person:
    name="Adeel"
    Occupation="Lecturer"
    networth="1M PKR"
    def info(self):
        return f"{self.name} is a {self.Occupation} and his networth is {self.networth}"

In [660]:
a= person()
a.info()

'Adeel is a Lecturer and his networth is 1M PKR'

In [661]:
a= person()
b= person()
b.name="Ali"
b.Occupation="HR"
b.networth="2M PKR"
b.info()

'Ali is a HR and his networth is 2M PKR'

# Constructor
In summary, constructors make object creation more structured, clear, and error-free. They allow you to set up objects with the necessary initial values and provide consistency across your code

In [662]:
class Car:
    # Constructor method to initialize attributes
    def __init__(self, brand, model, year):
        self.brand = brand  # 'self' refers to the instance of the object
        self.model = model
        self.year = year

    # Method to display car details
    def car_details(self):
        print(f"Car: {self.year} {self.brand} {self.model}")

# Creating an object of Car class
my_car = Car("Toyota", "Corolla", 2021)

# Accessing the car's details
my_car.car_details()

Car: 2021 Toyota Corolla