# Web scraping

Web scraping is an automatic method to obtain large amounts of data from websites.

Most of this data is unstructured data in an HTML format which is then converted into structured data in a spreadsheet or a database so that it can be used in various applications.

There are many different ways to perform web scraping to obtain data from websites

These include using online services, particular API’s or even creating your code for web scraping from scratch

Many large websites, like Google, Twitter, Facebook, StackOverflow, etc. have API’s that allow you to access their data in a structured format.

This is the best option, but there are other sites that don’t allow users to access large amounts of data in a structured form or they are simply not that technologically advanced. In that situation, it’s best to use Web Scraping to scrape the website for data.

Web scraping requires two parts, namely the crawler and the scraper.

 The **crawler** is an artificial intelligence algorithm that browses the web to search for the particular data required by following the links across the internet.
  
The **scraper**, on the other hand, is a specific tool created to extract data from the website. The design of the scraper can vary greatly according to the complexity and scope of the project so that it can quickly and accurately extract the data.

In [1]:
# %pip install numpy
# %pip install matplotlib
# %pip install seaborn
# %pip install scikit-learn

In [2]:
# %pip install pandas

In [3]:
# pip install ipykernal

In [4]:
#pip install requests

In [5]:
#%pip install beautifulsoup4

In [6]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [7]:
url = "https://en.wikipedia.org/wiki/World_population"

response = requests.get(url)

soup = BeautifulSoup(response.content, "html.parser")

In [8]:
print(soup.title)

<title>World population - Wikipedia</title>

In [ ]:
print(soup.text)

In [10]:
print(soup.title.text)

World population - Wikipedia

In [11]:
# print(soup.prettify()) # print the whole html code

In [12]:
# find all the tables

tables = soup.find_all("table")

dataframe = [] # empty list

for i, table in enumerate(tables):
    rows = table.find_all("tr")[1:] # skip the first row
    data = [] # empty list
    for row in rows:
        cols = row.find_all("td")
        cols = [col.text.strip() for col in cols]
        data.append(cols)
    df = pd.DataFrame(data)
    dataframe.append(df)

In [13]:
dataframe[1].head()
# dataframe[1].to_csv("world_population.csv", index=False, header=True)

,0,1,2,3
0,Sub-Saharan Africa,"1,152 (14.51%)","1,401 (16.46%)","2,094 (21.62%)"
1,Northern Africa and Western Asia,549 (6.91%),617 (7.25%),771 (7.96%)
2,Central Asia and Southern Asia,"2,075 (26.13%)","2,248 (26.41%)","2,575 (26.58%)"
3,Eastern Asia and Southeastern Asia,"2,342 (29.49%)","2,372 (27.87%)","2,317 (23.92%)"
4,Europe and Northern America,"1,120 (14.10%)","1,129 (13.26%)","1,125 (11.61%)"

In [14]:
import requests
from bs4 import BeautifulSoup


req = requests.get("https://www.geeksforgeeks.org/")

soup = BeautifulSoup(req.content, 'html.parser')

# print(soup.title) #title tag
# print(soup.p) #p tag
# print(soup.text) #text

# print(soup.prettify())

soup.title.get_text()

'GeeksforGeeks | A computer science portal for geeks'

In [18]:

import requests
from bs4 import BeautifulSoup

# Send a GET request to the Wikipedia page
req = requests.get("https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population")

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(req.content, 'html.parser')

# Find the table containing the population data
table = soup.find('table', {'class': 'wikitable sortable'})
# Find all the rows in the table
# Check if the table was found
if table:

    rows = table.find_all('tr')

# Loop through each row and extract the data
for row in rows:
    # Find all the cells in the row
    cells = row.find_all('td')
    
    # Extract the data from the cells
    if len(cells) > 1:
        rank = cells[0].text.strip()
        country = cells[1].text.strip()
        population = cells[2].text.strip()
        
    # Print the data
    print(f'{rank}\t{country}\t{population}')

In [20]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Send a GET request to the Wikipedia page
req = requests.get("https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population")

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(req.content, 'html.parser')

# Find the table containing the population data
table = soup.find('table', {'class': 'wikitable sortable'})
# Find all the rows in the table
# Check if the table was found
if table:

    for row in table.find_all('tr'):
        print(row.text)
   

# Create an empty DataFrame to store the data
    data = pd.DataFrame(columns=['Rank', 'Country', 'Population'])

# Loop through each row and extract the data
for row in rows:
    # Find all the cells in the row
    cells = row.find_all('td')
    
    
    # Extract the data from the cells
    if len(cells) > 1:
        rank = cells[0].text.strip()
        country_cell = cells[1].find('a')
        if country_cell is not None:
            country = country_cell.text.strip()
        else:
            country = cells[1].text.strip()
        population = cells[2].text.strip()
        
        # Append the data to the DataFrame
        data = pd.concat([data, pd.DataFrame({'Rank': [rank], 'Country': [country], 'Population': [population]})], ignore_index=True)

# Print the DataFrame
data

Location

Population

% ofworld

Date

Source (official or fromthe United Nations)




 –

 World

8,113,332,000
100%
18 Jun 2024

UN projection[3]



 1/2  [b]

 China

1,409,670,000
17.4%
31 Dec 2023

Official estimate[5]
[c]


 India

1,400,744,000
17.3%
1 Mar 2024

Official projection[6]
[d]


3

 United States

335,893,238
4.1%
1 Jan 2024

Official estimate[7]
[e]


4

 Indonesia

279,118,866
3.4%
1 Jul 2023

National annual projection[8]



5

 Pakistan

241,499,431
3.0%
1 Mar 2023

2023 census result[9]
[f]


6

 Nigeria

223,800,000
2.8%
1 Jul 2023

Official projection[10]



7

 Brazil

203,080,756
2.5%
1 Aug 2022

2022 census result[11]



8

 Bangladesh

169,828,911
2.1%
14 Jun 2022

2022 census result[12]



9

 Russia

146,150,789
1.8%
1 Jan 2024

Official estimate[13]
[g]


10

 Mexico

129,713,690
1.6%
31 Mar 2024

National quarterly estimate[14]



11

 Japan

123,930,000
1.5%
1 May 2024

Official estimate[15]



12

 Philippines

112,892,781
1.4%
1 Jul 2023

Official projection[16]



13

 Ethiopia

107,334,000
1.3%
1 Jul 2023

National annual projection[17]



14

 Egypt

105,914,499
1.3%
1 Jan 2024

Official estimate[18]



15

 Vietnam

100,300,000
1.2%
Jul 2023

Official estimate[19]



16

 Democratic Republic of the Congo

98,370,000
1.2%
1 Jul 2019

Official figure[20]



17

 Turkey

85,372,377
1.1%
31 Dec 2023

Official estimate[21]



18

 Iran

85,000,000
1.0%
16 May 2023

Official estimate[22]



19

 Germany

84,669,326
1.0%
31 Dec 2023

National quarterly estimate[23]



20

 France

68,428,000
0.8%
1 May 2024

Monthly national estimate[24]
[h]


21

 United Kingdom

67,596,281
0.8%
30 Jun 2022

Official estimate[25]
[i]


22

 Thailand

65,990,480
0.8%
1 May 2024

Monthly national estimate[26]



23

 South Africa

62,027,503
0.8%
2 Feb 2022

2022 census result[27]



24

 Tanzania

61,741,120
0.8%
23 Aug 2022

2022 census result[28]
[j]


25

 Italy

58,971,638
0.7%
29 Feb 2024

Monthly national estimate[29]



26

 Myanmar

56,242,997
0.7%
1 Jul 2023

National annual projection[30]



27

 Colombia

52,695,952
0.6%
1 Jan 2024

Official projection[31]



28

 Kenya

52,428,290
0.6%
1 Jan 2024

Official projection[32]



29

 South Korea

51,285,153
0.6%
30 Apr 2024

Monthly national estimate[33]



30

 Spain

48,692,804
0.6%
1 Apr 2024

National quarterly estimate[34]



31

 Argentina

46,654,581
0.6%
1 Jul 2023

National annual projection[35]



32

 Uganda

45,562,000
0.6%
1 Jul 2023

National annual projection[36]



33

 Algeria

45,400,000
0.6%
1 Jan 2022

Official estimate[37]



34

 Iraq

43,324,000
0.5%
1 Jul 2023

Official estimate[38]



35

 Sudan

41,984,500
0.5%
1 Jul 2018

Official projection[39]



36

 Canada

40,769,890
0.5%
1 Jan 2024

National quarterly estimate[40]



37

 Poland

37,595,000
0.5%
31 Mar 2024

Monthly national estimate[41]



38

 Morocco

37,022,000
0.5%
1 Jul 2023

Official projection[42]
[k]


39

 Uzbekistan

36,963,262
0.5%
1 Apr 2024

National quarterly estimate[43]



40

 Ukraine

36,700,000
0.5%
1 Jul 2023

UN estimate[44]
[l]


41

 Afghanistan

34,262,840
0.4%
1 Jan 2023

Official estimate[45]



42

 Angola

34,094,077
0.4%
1 Jun 2023

National annual projection[46]



43

 Peru

33,725,844
0.4%
1 Jul 2023

National annual projection[47]



44

 Malaysia

33,379,500
0.4%
30 Jun 2023

National quarterly estimate[48]



45

 Mozambique

32,419,747
0.4%
1 Jul 2022

National annual projection[49]



46

 Saudi Arabia

32,175,224
0.4%
10 May 2022

2022 census result[50]



47

 Yemen

31,888,698
0.4%
1 Jul 2022

Official estimate[51]



48

 Ghana

30,832,019
0.4%
27 Jun 2021

2021 census result[52]



49

 Ivory Coast

29,389,150
0.4%
14 Dec 2021

2021 census result[53]



50

   Nepal

29,164,578
0.4%
25 Nov 2021

2021 census result[54]



51

 Venezuela

28,302,000
0.3%
30 Jun 2019

Official projection[55]



52

 Cameroon

28,088,845
0.3%
1 Jul 2023

National annual projection[56]



53

 Madagascar

26,923,353
0.3%
1 Jul 2021

National annual projection[57]



54

 Australia

26,821,557
0.3%
30 Sep 2023

Official projection[58]
[m]


55

 North Korea

25,660,000
0.3%
1 Jul 2021

National annual projection[59]



56

 Niger

25,369,415
0.3%
1 Jul 2023

National annual projection[60]



 –

 Taiwan

23,420,442
0.3%
31 Dec 2023

Official estimate[61]
[n]


57

 Syria

22,923,000
0.3%
1 Jul 2021

Official estimate[62]



58

 Burkina Faso

22,752,315
0.3%
1 Jul 2023

National projection[63]



59

 Mali

22,395,489
0.3%
15 Jun 2022

2022 census result[64]



60

 Sri Lanka

22,037,000
0.3%
1 Jul 2023

Official estimate[65]



61

 Malawi

21,507,723
0.3%
1 Jul 2022

National annual projection[66]



62

 Kazakhstan

20,095,963
0.2%
1 Apr 2024

Official estimate[67]



63

 Chile

19,960,889
0.2%
30 Jun 2023

National annual projection[68]



64

 Zambia

19,610,769
0.2%
14 Sep 2022

2022 census result[69]



65

 Romania

19,051,562
0.2%
1 Jan 2023

Official estimate[70]



66

 Senegal

18,275,743
0.2%
1 Jul 2023

National annual projection[71]



67

 Somalia

18,143,379
0.2%
1 Jul 2023

UN projection[3]
[o]


68

 Netherlands

17,974,786
0.2%
30 Apr 2024

Official estimate[72]
[p]


69

 Guatemala

17,602,431
0.2%
1 Jul 2023

National annual projection[73]



70

 Chad

17,414,717
0.2%
1 Jul 2022

National annual projection[74]



71

 Cambodia

17,091,464
0.2%
1 Jul 2023

Official projection[75]



72

 Ecuador

16,938,986
0.2%
1 Oct 2022

2022 census result[76]



73

 Zimbabwe

15,178,979
0.2%
20 Apr 2022

2022 census result[77]



74

 South Sudan

14,746,494
0.2%
1 Jul 2023

National annual projection[78]



75

 Guinea

13,261,638
0.2%
1 Jul 2022

National annual projection[79]



76

 Rwanda

13,246,394
0.2%
15 Aug 2022

2022 census result[80]



77

 Burundi

12,837,740
0.2%
1 Jul 2022

National annual projection[81]



78

 Benin

12,606,998
0.2%
1 Jul 2023

National annual projection[82]



79

 Bolivia

12,006,031
0.1%
1 Jul 2022

National annual projection[83]



80

 Tunisia

11,850,232
0.1%
1 Jan 2023

National estimate[84]



81

 Belgium

11,823,056
0.1%
1 Apr 2024

Official estimate[85]



82

 Papua New Guinea

11,781,559
0.1%
1 Jul 2021

National estimate[86]



83

 Haiti

11,743,017
0.1%
1 Jul 2020

National annual projection[87]



84

 Jordan

11,516,000
0.1%
31 Dec 2023

National estimate[88]



85

 Cuba

11,089,511
0.1%
31 Dec 2022

Official estimate[89]



86

 Czech Republic

10,900,555
0.1%
31 Dec 2023

Official estimate[90]



87

 Dominican Republic

10,760,028
0.1%
10 Nov 2022

2022 census result[91]



88

 Portugal

10,639,726
0.1%
31 Dec 2023

2023 estimate[92]



89

 Sweden

10,548,261
0.1%
30 Apr 2024

Monthly national estimate[93]



90

 Greece

10,413,982
0.1%
1 Jan 2023

Official estimate[94]



91

 Azerbaijan

10,151,517
0.1%
1 Jul 2023

Monthly national estimate[95]



92

 Tajikistan

10,077,600
0.1%
1 Jan 2023

Official estimate[96]



93

 Israel

9,892,000
0.1%
30 Apr 2024

National monthly estimate[97]
[q]


94

 Honduras

9,745,149
0.1%
1 Jul 2023

National annual projection[98]



95

 Hungary

9,584,000
0.1%
1 Jan 2024

Official estimate[99]



96

 United Arab Emirates

9,282,410
0.1%
31 Dec 2020

Official estimate[100]



97

 Austria

9,170,647
0.1%
1 Apr 2024

National quarterly estimate[101]



98

 Belarus

9,155,978
0.1%
1 Jan 2024

Official estimate[102]



99

  Switzerland

8,960,817
0.1%
31 Dec 2023

National quarterly estimate[103]



100

 Sierra Leone

8,494,260
0.1%
1 Jul 2022

National annual projection[104]



101

 Togo

8,095,498
0.10%
8 Nov 2022

2022 census result[105]



 –

 Hong Kong (China)

7,498,100
0.09%

30 Jun 2023

National estimate[106]



102

 Laos

7,443,000
0.09%
1 Jul 2022

National annual projection[107]



103

 Kyrgyzstan

7,100,000
0.09%
1 Mar 2023

Monthly national estimate[108]



104

 Turkmenistan

7,057,841
0.09%
17 Dec 2022

2022 census result[109]



105

 Libya

6,931,061
0.09%
1 Jan 2020

Official estimate[110]



106

 El Salvador

6,884,888
0.08%
1 Jul 2022

National annual projection[111]



107

 Nicaragua

6,733,763
0.08%
30 Jun 2022

Official estimate[112]



108

 Serbia

6,641,197
0.08%
1 Jan 2023

Official estimate[113]
[r]


109

 Bulgaria

6,445,481
0.08%
31 Dec 2023

Official annual estimate[114]



110

 Republic of the Congo

6,142,180
0.08%
17 May 2023

2023 census result[115]



111

 Paraguay

6,109,644
0.08%
10 Nov 2022

Preliminary census result[116]



112

 Denmark

5,967,824
0.07%
1 Apr 2024

National quarterly estimate[117]
[s]


113

 Singapore

5,917,600
0.07%
30 Jun 2023

Official estimate[118]



114

 Central African Republic

5,633,412
0.07%
1 Jul 2020

National annual projection[119]



115

 Finland

5,583,385
0.07%
30 Apr 2024

Monthly national estimate[120]
[t]


116

 Norway

5,562,363
0.07%
31 Mar 2024

National quarterly estimate[121]
[u]


117

 Lebanon

5,490,000
0.07%
1 Jul 2021

Official estimate[122]



118

 Palestine

5,483,450
0.07%
1 Jan 2023

National annual projection[123]
[v]


119

 Slovakia

5,422,620
0.07%
31 Mar 2024

National quarterly estimate[124]



120

 New Zealand

5,338,900
0.07%
30 Mar 2024

National quarterly estimate[125]
[w]


121

 Ireland

5,281,600
0.07%
1 Apr 2023

National estimate[126]



122

 Costa Rica

5,262,225
0.06%
30 Jun 2023

National annual projection[127]



123

 Liberia

5,248,621
0.06%
10 Nov 2022

2022 census result[128]



124

 Oman

5,113,071
0.06%
31 Aug 2023

Monthly national estimate[129]



125

 Kuwait

4,670,713
0.06%
31 Dec 2020

Official estimate[130]



126

 Mauritania

4,475,683
0.06%
1 Jul 2023

National annual projection[131]



127

 Panama

4,064,780
0.05%
8 Jan 2023

2023 census result[132]



128

 Croatia

3,855,641
0.05%
1 Jul 2022

Official estimate[133]



129

 Eritrea

3,748,902
0.05%
1 Jul 2023

UN projection[3]



130

 Georgia

3,694,600
0.05%
1 Jan 2024

Official estimate[134]
[x]


131

 Mongolia

3,457,548
0.04%
31 Dec 2022

National annual projection[135]



132

 Uruguay

3,444,263
0.04%
27 Nov 2023

2023 National census[136]



133

 Bosnia and Herzegovina

3,277,082
0.04%
1 Jul 2022

Official estimate[137][138]



 –

 Puerto Rico (US)

3,205,691
0.04%
1 Jul 2023

Annual projection[139]



134

 Namibia

3,022,401
0.04%
24 Sep 2023

2023 National census[140]



135

 Armenia

2,993,800
0.04%
1 Jan 2024

National quarterly estimate[141]



136

 Qatar

2,965,952
0.04%
31 Dec 2023

Monthly national estimate[142]



137

 Lithuania

2,891,215
0.04%
1 Jun 2024

Monthly national estimate[143]



138

 Jamaica

2,825,544
0.03%
1 Jul 2019

National projection[144]



139

 Albania

2,761,785
0.03%
1 Jan 2023

Official estimate[145]



140

 Moldova

2,512,758
0.03%
1 Jan 2023

Official estimate[146]
[y]


141

 Gambia

2,417,471
0.03%
1 Jul 2022

National projection[147]



142

 Botswana

2,410,338
0.03%
1 Jul 2021

National annual projection[148]



143

 Lesotho

2,306,000
0.03%
1 Jul 2023

Official projection[149]



144

 Gabon

2,233,272
0.03%
1 Jul 2021

National annual projection[150]



145

 Slovenia

2,123,103
0.03%
1 Oct 2023

National quarterly estimate[151]



146

 Latvia

1,862,700
0.02%
1 May 2024

Monthly national estimate[152]



147

 North Macedonia

1,832,696
0.02%
1 Nov 2021

2021 census result[153]



148

 Guinea-Bissau

1,781,308
0.02%
1 Jul 2023

National annual projection[154]



 –

 Kosovo

1,762,220
0.02%
31 Dec 2022

Official estimate[155]



149

 Bahrain

1,577,059
0.02%
1 Jul 2023

Official estimate[156]



150

 Equatorial Guinea

1,558,160
0.02%
1 Jul 2022

Official estimate[157]



151

 Trinidad and Tobago

1,367,510
0.02%
30 Jun 2023

Official estimate[158]



152

 Estonia

1,374,687
0.02%
1 Jan 2024

Official estimate[159]



153

 East Timor

1,354,662
0.02%
1 Jul 2023

National annual projection[160]



154

 Mauritius

1,261,041
0.02%
30 Jun 2023

National estimate[161]



155

 Eswatini

1,223,362
0.02%
1 Jul 2023

Official projection[162]



156

 Djibouti

1,001,454
0.01%
1 Jul 2022

National projection [163]



157

 Cyprus

918,100
0.01%
1 Oct 2021

2021 census result[164]
[z]


158

 Fiji

893,468
0.01%
1 Jul 2021

National annual projection[165]



159

 Bhutan

770,276
0.009%
2023

National annual projection[166]



160

 Comoros

758,316
0.009%
15 Dec 2017

2017 census result[167]



161

 Guyana

743,699
0.009%
1 Jul 2019

Official estimate[168]



162

 Solomon Islands

734,887
0.009%
1 Jul 2023

National annual projection[169]



 –

 Macau (China)

683,700
0.008%

31 Dec 2023

National quarterly estimate[170]



163

 Luxembourg

672,020
0.008%
1 Jan 2024

Official estimate[171]



164

 Montenegro

616,695
0.008%
1 Jan 2023

National annual estimate[172]



165

 Suriname

616,500
0.008%
1 Jul 2021

Official estimate[173]



 –

 [disputed – discuss] Western Sahara

587,259
0.007%
1 Jul 2023

UN projection[3]
[aa]


166

 Malta

519,562
0.006%
21 Nov 2021

2021 census result[176]



167

 Maldives

515,132
0.006%
13 Sep 2022

2022 census result[177]



168

 Cape Verde

491,233
0.006%
16 Jun 2021

2021 census result[178]



169

 Brunei

445,400
0.005%
1 Jul 2022

Official estimate[179]



170

 Belize

397,483
0.005%
12 May 2022

2022 census result[180]



171

 Bahamas

397,360
0.005%
1 Jul 2022

[181]



172

 Iceland

383,726
0.005%
1 Jan 2024

National quarterly estimate[182]



 –

 Northern Cyprus

382,836
0.005%
31 Dec 2020

Official estimate[183]
[ab]


 –

 Transnistria

360,938
0.004%
31 Dec 2022

Official estimate[184]
[ac]


173

 Vanuatu

301,295
0.004%
1 Jul 2021

National annual projection[185]



 –

 French Polynesia (France)

279,890
0.003%
1 Jul 2021

National annual projection[185]



 –

 New Caledonia (France)

268,510
0.003%
1 Jan 2023

National annual projection[186]



174

 Barbados

267,800
0.003%
31 Dec 2022

[187]



 –

 Abkhazia

244,236
0.003%
1 Jan 2022

Official estimate[188]
[ad]


175

 São Tomé and Príncipe

214,610
0.003%
1 Jul 2021

National annual projection[189]



176

 Samoa

205,557
0.003%
6 Nov 2021

Census 2021[190]



177

 Saint Lucia

178,696
0.002%
1 Jul 2018

Official estimate[191]



 –

 Guam (US)

153,836
0.002%
1 Apr 2020

2020 census result[192]



 –

 Curacao (Netherlands)

148,925
0.002%
1 Jan 2023

Official estimate[193]



178

 Kiribati

120,740
0.001%
1 Jul 2021

National annual projection[185]



179

 Grenada

112,579
0.001%
1 Jul 2019

Official estimate[194]



180

 Saint Vincent and the Grenadines

110,872
0.001%
1 Jul 2022

Official estimate[195]



 –

 Aruba (Netherlands)

106,739
0.001%
30 Sep 2022

National quarterly estimate[196]



181

 Micronesia

105,754
0.001%
1 Jul 2021

National annual projection[185]



 –

 Jersey (UK)

103,267
0.001%
21 Mar 2021

2021 census result[197]



182

 Antigua and Barbuda

100,772
0.001%
1 Jan 2022

National annual estimate[198]



183

 Seychelles

100,447
0.001%
22 Apr 2022

2022 Census[199]



184

 Tonga

100,179
0.001%
1 Jan 2022

National annual estimate[200]



 –

 U.S. Virgin Islands (US)

87,146
0.001%
1 Apr 2020

2020 census result[201]



185

 Andorra

85,101
0.001%
31 Dec 2023

Official estimate[202]



 –

 Isle of Man (UK)

84,530
0.001%
1 Apr 2023

2021 census result[203]



 –

 Cayman Islands (UK)

71,105
0.0009%
30 Sep 2020

2021 Census[204]



186

 Dominica

67,408
0.0008%
31 Dec 2017

Official estimate[205]



 –

 Guernsey (UK)

64,091
0.0008%
31 Mar 2023

National quarterly estimate[206]



 –

 Bermuda (UK)

64,055
0.0008%
1 Jul 2021

National annual projection[207]



 –

 Greenland (Denmark)

56,865
0.0007%
1 Jul 2023

National quarterly estimate[208]



 –

 South Ossetia

56,520
0.0007%
31 Dec 2021

Official estimate[209]
[ae]


 –

 Faroe Islands (Denmark)

54,683
0.0007%
1 May 2024

Monthly national estimate[210]



 –

 American Samoa (US)

49,710
0.0006%
1 Apr 2020

2020 census result[211]



 –

 Northern Mariana Islands (US)

47,329
0.0006%
1 Apr 2020

2020 census result[212]



187

 Saint Kitts and Nevis

47,195
0.0006%
15 May 2011

2011 census result[213]



 –

 Turks and Caicos Islands (UK)

46,131
0.0006%
1 Jul 2021

Official estimate[214]



 –

 Sint Maarten (Netherlands)

42,938
0.0005%
1 Jan 2023

Official estimate[215]



188

 Marshall Islands

42,418
0.0005%
30 Sep 2021

2021 Census[216]



189

 Liechtenstein

40,023
0.0005%
31 Dec 2023

National estimate[217]



190

 Monaco

38,367
0.0005%
31 Dec 2023

Census[218]



 –

 Gibraltar (UK)

34,003
0.0004%
1 Jul 2016

Official figure[219]



191

 San Marino

33,932
0.0004%
29 Apr 2024

Monthly national estimate[220]



 –

 Saint Martin (France)

32,358
0.0004%
1 Jan 2020

Official estimate[221]



 –

 British Virgin Islands (UK)

31,538
0.0004%
1 Jul 2023

UN projection[3]



 –

 Åland (Finland)

30,587
0.0004%
30 Apr 2024

Monthly national estimate[120]



192

 Palau

16,733
0.0002%
1 Jul 2021

2021 Census[222]



 –

 Anguilla (UK)

15,701
0.0002%
31 Dec 2021

Official estimate[223]



 –

 Cook Islands

15,040
0.0002%
1 Jul 2021

2021 Census[224]



193

 Nauru

11,680
0.0001%
30 Oct 2021

2021 Census[225]



 –

 Wallis and Futuna (France)

11,369
0.0001%
1 Jan 2021

National annual projection[185]



194

 Tuvalu

10,679
0.0001%
1 Jul 2021

National annual projection[185]



 –

 Saint Barthélemy (France)

10,585
0.0001%
1 Jan 2020

Official estimate[221]



 –

 Saint Pierre and Miquelon (France)

6,092
0%
1 Jan 2020

Official estimate[221]



 –

 Saint Helena, Ascension and Tristan da Cunha (UK)

5,651
0%
1 Jul 2021

2021 Census[226][227][228]



 –

 Montserrat (UK)

4,433
0%
1 Jul 2022

Official figure[229]



 –

 Falkland Islands (UK)

3,662
0%
10 Oct 2021

2021 census result[230]



 –

 Norfolk Island (Australia)

2,188
0%
1 Jan 2021

2021 Census[231]



 –

 Christmas Island (Australia)

1,692
0%
1 Jan 2021

2021 Census [232]



 –

 Niue

1,689
0%
11 Nov 2022

2022 Census [233]



 –

 Tokelau (NZ)

1,647
0%
1 Jan 2019

2019 Census [234]



195

 Vatican City

764
0%
26 Jun 2023

Official figure[235]
[af]


 –

 Cocos (Keeling) Islands (Australia)

593
0%
30 Jun 2020

2021 Census[236]



 –

 Pitcairn Islands (UK)

47
0%
1 Jul 2021

Official estimate[237]

Empty DataFrame
Columns: [Rank, Country, Population]
Index: []

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://en.wikipedia.org/wiki/World_population'

response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

# Find all the tables on the webpage
tables = soup.find_all('table')

# For each table, create a DataFrame and print it
for i, table in enumerate(tables):
    # The [1:] is to skip the header row
    rows = table.find_all('tr')[1:]
    data = []
    for row in rows:
        cols = row.find_all('td')
        cols = [col.text.strip() for col in cols]
        data.append(cols)
    df = pd.DataFrame(data)
    print(f"Table {i}:")
    print(df)
    print("\n\n")

Table 0:
          0     1     2     3     4     5     6     7     8     9
0      1804  1927  1960  1974  1987  1999  2011  2022  2037  2057
1  200,000+   123    33    14    13    12    12    11    15    20



Table 1:
                                    0               1               2  \
0                  Sub-Saharan Africa  1,152 (14.51%)  1,401 (16.46%)
1    Northern Africa and Western Asia     549 (6.91%)     617 (7.25%)
2      Central Asia and Southern Asia  2,075 (26.13%)  2,248 (26.41%)
3  Eastern Asia and Southeastern Asia  2,342 (29.49%)  2,372 (27.87%)
4         Europe and Northern America  1,120 (14.10%)  1,129 (13.26%)
5     Latin America and the Caribbean     658 (8.29%)     695 (8.17%)
6           Australia and New Zealand      31 (0.39%)      34 (0.40%)
7                             Oceania      14 (0.18%)      15 (0.18%)
8                               World           7,942           8,512

                3
0  2,094 (21.62%)
1     771 (7.96%)
2  2,575 (26.58%)
3  2,317 (23.92%)
4  1,125 (11.61%)
5     749 (7.73%)
6      38 (0.39%)
7      20 (0.21%)
8           9,687



Table 2:
Empty DataFrame
Columns: []
Index: []



Table 3:
                          0      1          2  \
0                      Asia  104.1      4,641
1                    Africa   44.4      1,340
2                    Europe   73.4        747
3             Latin America   24.1        653
4  Northern America[note 1]   14.9        368
5                   Oceania      5         42
6                Antarctica     ~0  0.004[87]

                                                   3  \
0                             1,439,090,595 –  India
1                           0,211,401,000 –  Nigeria
2  0,146,171,000 –  Russia, approx. 110 million i...
3                            0,214,103,000 –  Brazil
4                     0,332,909,000 –  United States
5                         0,025,917,000 –  Australia
6                                        N/A[note 2]

                                                   4
0  13,515,000 –  Tokyo Metropolis(37,400,000 –  G...
1   09,500,000 –  Cairo(20,076,000 –  Greater Cairo)
2  13,200,000 –  Moscow(20,004,000 –  Moscow metr...
3  12,252,000 –  São Paulo City(21,650,000 –  São...
4  08,804,000 –  New York City(23,582,649 –  New ...
5                               05,367,000 –  Sydney
6                      00,001,258 –  McMurdo Station



Table 4:
               0              1      2            3  \
0          India  1,425,775,850  17.6%  14 Apr 2023
1          China  1,409,670,000  17.4%  17 Jan 2024
2  United States    336,569,368  4.15%  17 Jun 2024
3      Indonesia    278,696,200  3.44%   1 Jul 2023
4       Pakistan    229,488,994  2.83%   1 Jul 2022
5        Nigeria    216,746,934  2.67%   1 Jul 2022
6         Brazil    217,796,037  2.68%  17 Jun 2024
7     Bangladesh    168,220,000  2.07%   1 Jul 2020
8         Russia    147,190,000  1.81%   1 Oct 2021
9         Mexico    128,271,248  1.58%  31 Mar 2022

                                     4
0                    UN projection[90]
1         National annual estimate[91]
2        National population clock[92]
3         National annual estimate[93]
4                    UN projection[94]
5                    UN projection[94]
6        National population clock[95]
7       Annual Population Estimate[96]
8  2021 preliminary census results[97]
9



Table 5:
                                                    0  \
0
1                                                   1
2                                                   2
3                                                   3
4                                                   4
5                                                   5
6                                                   6
7                                                   7
8                                                   8
9                                                   9
10                                                 10
11
12  Notes:\n\n\n^ 2030 = Medium variant.\n\n^ Chin...

                                                    1      2      3      4
0   Graphs are unavailable due to technical issues...   None   None   None
1                                            China[B]  1,270  1,376  1,416
2                                               India  1,053  1,311  1,528
3                                       United States    283    322    356
4                                           Indonesia    212    258    295
5                                            Pakistan    136    208    245
6                                              Brazil    176    206    228
7                                             Nigeria    123    182    263
8                                          Bangladesh    131    161    186
9                                              Russia    146    146    149
10                                             Mexico    103    127    148
11                                        World total  6,127  7,349  8,501
12                                               None   None   None   None



Table 6:
Empty DataFrame
Columns: []
Index: []



Table 7:
    0                       1              2          3      4
0   1               Singapore      5,921,231        719  8,235
1   2              Bangladesh    165,650,475    148,460  1,116
2   3  Palestine[note 3][101]      5,223,000      6,025    867
3   4          Taiwan[note 4]     23,580,712     35,980    655
4   5             South Korea     51,844,834     99,720    520
5   6                 Lebanon      5,296,814     10,400    509
6   7                  Rwanda     13,173,730     26,338    500
7   8                 Burundi     12,696,478     27,830    456
8   9                  Israel      9,402,617     21,937    429
9  10                   India  1,389,637,446  3,287,263    423



Table 8:
    0               1              2          3      4                5
0   1           India  1,389,637,446  3,287,263    423          Growing
1   2        Pakistan    242,923,845    796,095    305  Rapidly growing
2   3      Bangladesh    165,650,475    148,460  1,116          Growing
3   4           Japan    124,214,766    377,915    329   Declining[102]
4   5     Philippines    114,597,229    300,000    382          Growing
5   6         Vietnam    103,808,319    331,210    313          Growing
6   7  United Kingdom     67,791,400    243,610    278          Growing
7   8     South Korea     51,844,834     99,720    520           Steady
8   9          Taiwan     23,580,712     35,980    655           Steady
9  10       Sri Lanka     23,187,516     65,610    353          Growing



Table 9:
Empty DataFrame
Columns: []
Index: []



Table 10:
Empty DataFrame
Columns: []
Index: []



Table 11:
                0      1           2     3
0            None   None        None  None
1   2,543,130,380  1.75%  43,808,223    17
2   2,590,270,899  1.85%  47,140,519    17
3   2,640,278,797  1.93%  50,007,898    18
4   2,691,979,339  1.96%  51,700,542    18
..            ...    ...         ...   ...
69  7,764,951,032  1.06%  81,161,204    52
70  7,840,952,880  0.98%  76,001,848    53
71  7,909,295,151  0.87%  68,342,271    53
72  7,975,105,156  0.83%  65,810,005    54
73  8,045,311,447  0.88%  70,206,291    54

[74 rows x 4 columns]



Table 12:
    0    1    2    3    4      5      6      7      8      9      10     11  \
0  585  660  710  791  978  1,262  1,650  2,521  6,008  6,707  6,896  7,052
1   86  114  106  106  107    111    133    221    783    973  1,022  1,052
2  282  350  411  502  635    809    947  1,402  3,700  4,054  4,164  4,250
3  168  170  178  190  203    276    408    547    675    732    738    740
4   40   20   10   16   24     38     74    167    508    577    590    603
5    6    3    2    2    7     26     82    172    312    337    345    351
6    3    3    3    2    2      2      6     13     30     34     37     38

      12     13
0  9,725  9,746
1  2,478  2,308
2  5,267  5,561
3    734    517
4    784    912
5    433    398
6     57     51



Table 13:
     0     1     2     3     4     5     6     7     8     9     10    11  \
0  14.7  17.3  14.9  13.4  10.9   8.8   8.1   8.8  13.0  14.5  14.8  15.2
1  48.2  53.0  57.9  63.5  64.9  64.1  57.4  55.6  61.6  60.4  60.4  60.3
2  28.7  25.8  25.1  20.6  20.8  21.9  24.7  21.7  11.2  10.9  10.7  10.5
3   6.8   3.0   1.4   2.0   2.5   3.0   4.5   6.6   8.5   8.6   8.6   8.6
4   1.0   0.5   0.3   0.3   0.7   2.1   5.0   6.8   5.2   5.0   5.0   5.0
5   0.5   0.5   0.4   0.3   0.2   0.2   0.4   0.5   0.5   0.5   0.5   0.5

     12    13
0  25.5  23.7
1  54.2  57.1
2   7.6   5.3
3   8.1   9.4
4   4.5   4.1
5   0.6   0.5



Table 14:
          0      1      2    3    4    5     6                  7
0   < 0.015                                                 [119]
1         4                                                 [120]
2         5
3         5
4         5
5         7
6        14
7        27
8        50      7     33    9                  [citation needed]
9       100     14     66   16
10      200     23    141   28
11      400     70    269   50    8    1     2
12      458     86    243   84   39    3     3
13      580    114    339  111   10    3     3
14      682    106    436  125   10    2     3
15      791    106    502  163   16    2     2
16    1,000    107    656  203   24    7     3
17    1,262    111    809  276   38   26     2
18    1,650    133    947  408   74   82     6
19    2,525    229  1,394  549  169  172  12.7              [121]
20    2,758    254  1,534  577  193  187  14.2
21    3,018    285  1,687  606  221  204  15.8
22    3,322    322  1,875  635  254  219  17.5
23    3,682    366  2,120  657  288  231  19.7
24    4,061    416  2,378  677  326  242  21.5
25    4,440    478  2,626  694  365  254  23.0
26    4,853    550  2,897  708  406  267  24.9
27    5,310    632  3,202  721  447  281  27.0
28    5,735    720  3,475  728  487  296  29.1
29    6,127    814  3,714  726  527  314  31.1
30    6,520    920  3,945  729  564  329  33.4
31    6,930  1,044  4,170  735  600  344  36.4
32    7,349  1,186  4,393  738  634  358  39.3



Table 15:
Empty DataFrame
Columns: []
Index: []



Table 16:
       0    1      2    3
0  6,542    –  6,473    –
1  6,957  415  6,866  393
2  7,380  423  7,256  390
3  7,795  415  7,643  380
4  8,184  390  8,007  363
5  8,549  364  8,341  334
6  8,888  339  8,646  306
7  9,199  311  8,926  280
8  9,482  283  9,180  254
9  9,735  253  9,408  228



Table 17:
         0              1              2            3           4           5  \
0    6,144  3,741 (60.9%)    811 (13.2%)  726 (11.8%)  522 (8.5%)  312 (5.1%)
1    6,542  3,978 (60.8%)    916 (14.0%)  729 (11.2%)  558 (8.5%)  327 (5.0%)
2    6,957  4,210 (60.5%)  1,039 (14.9%)  736 (10.6%)  591 (8.5%)  343 (4.9%)
3    7,380  4,434 (60.1%)  1,182 (16.0%)  743 (10.1%)  624 (8.5%)  357 (4.8%)
4    7,795  4,641 (59.5%)  1,341 (17.2%)   748 (9.6%)  654 (8.4%)  369 (4.7%)
5    8,184  4,823 (58.9%)  1,509 (18.4%)   746 (9.1%)  682 (8.3%)  380 (4.6%)
6    8,549  4,974 (58.2%)  1,688 (19.8%)   741 (8.7%)  706 (8.3%)  391 (4.6%)
7    8,888  5,096 (57.3%)  1,878 (21.1%)   735 (8.3%)  726 (8.2%)  401 (4.5%)
8    9,199  5,189 (56.4%)  2,077 (22.6%)   728 (7.9%)  742 (8.1%)  410 (4.5%)
9    9,482  5,253 (55.4%)  2,282 (24.1%)   720 (7.6%)  754 (8.0%)  418 (4.4%)
10   9,735  5,290 (54.3%)  2,489 (25.6%)   711 (7.3%)  762 (7.8%)  425 (4.4%)
11   9,958  5,302 (53.2%)  2,698 (27.1%)   700 (7.0%)  767 (7.7%)  432 (4.3%)
12  10,152  5,289 (52.1%)  2,905 (28.6%)   689 (6.8%)  768 (7.6%)  439 (4.3%)
13  10,318  5,256 (51.0%)  3,109 (30.1%)   677 (6.6%)  765 (7.4%)  447 (4.3%)
14  10,459  5,207 (49.8%)  3,308 (31.6%)   667 (6.4%)  759 (7.3%)  454 (4.3%)
15  10,577  5,143 (48.6%)  3,499 (33.1%)   657 (6.2%)  750 (7.1%)  461 (4.4%)
16  10,674  5,068 (47.5%)  3,681 (34.5%)   650 (6.1%)  739 (6.9%)  468 (4.4%)
17  10,750  4,987 (46.4%)  3,851 (35.8%)   643 (6.0%)  726 (6.8%)  474 (4.4%)
18  10,810  4,901 (45.3%)  4,008 (37.1%)   638 (5.9%)  711 (6.6%)  479 (4.4%)
19  10,852  4,812 (44.3%)  4,152 (38.3%)   634 (5.8%)  696 (6.4%)  485 (4.5%)
20  10,875  4,719 (43.4%)  4,280 (39.4%)   630 (5.8%)  680 (6.3%)  491 (4.5%)

            6
0   31 (0.5%)
1   34 (0.5%)
2   37 (0.5%)
3   40 (0.5%)
4   43 (0.6%)
5   45 (0.6%)
6   48 (0.6%)
7   50 (0.6%)
8   53 (0.6%)
9   55 (0.6%)
10  57 (0.6%)
11  60 (0.6%)
12  62 (0.6%)
13  64 (0.6%)
14  66 (0.6%)
15  67 (0.6%)
16  69 (0.7%)
17  71 (0.7%)
18  72 (0.7%)
19  74 (0.7%)
20  75 (0.7%)



Table 18:
      0     1     2     3     4    5
0  1500  1804  1927  1974  2022  n/a
1     —   304   123    47    48    —



Table 19:
      0     1     2     3     4             5
0  1171  1715  1881  1960  1999  c. 2100[144]
1     —   544   166    79    39       c. 100+



Table 20:
                                                   0
0  Why Most Humans Live Inside This Small Circle ...



Table 21:
                                                   0
0  Demographics of the world\nDemographic transit...
1  Population decline\nPopulation density\nPhysio...
2  Biocapacity\nCarrying capacity\nEarth's energy...
3  Human overpopulation\nMalthusian catastrophe\n...
4  Population and Environment\nPopulation and Dev...
5  Population and housing censuses by country\nLa...
6  7 Billion Actions\nChurch of Euthanasia\nInter...
7  Bennett's law\nGreen Revolution\nHuman impact ...
8                                 Commons\n Category



Table 22:
                                                   0   \
0   vteHuman impact on the environmentGeneral\nAnt...
1                                                None
2   Anthropocene\nEcological footprint\nEnvironmen...
3   Agriculture\nanimal agriculture\ncannabis cult...
4   Biodiversity threats\nbiodiversity loss\ndecli...
5   Alternative fuel vehicle propulsion\nBirth con...
6   Commons\n  Category\nby country\nassessment\nm...
7                                                None
8   Current population\nUnited Nations\nDemographi...
9   Africa\nAntarctica\nAsia\nEurope\nNorth Americ...
10  Americas\nArab world\nCommonwealth of Nations\...
11  World cities\nNational capitals\nMegacities\nM...
12  Past and future population\nWorld population e...
13  Current density\nPast and future population de...
14  Population growth rate\nNatural increase\nNet ...
15  world\nAfrica\nAsia\nEurope\nNorth America\nOc...
16  Age at childbearing\nAge at first marriage\nAg...
17  Antidepressant consumption\nAntiviral medicati...
18  Bloomberg Innovation Index\nEducation Index\nG...
19  Access to financial services\nDevelopment aid ...
20   List of international rankings\nLists by country
21                                               None
22  Biosphere > Biome > Ecosystem > Biocoenosis > ...
23                                               None
24                        Journals\n Outline\nStudies
25  Alter-globalization\nAnti-globalization moveme...
26  Global\nClimate change\nClimate justice\nDisea...
27  Climate change\nClimate justice\nDisease\nCOVI...
28  Brain drain\nreverse\nCare drain\nDevelopment ...
29  Capital accumulation\nDependency\nDevelopment\...
30  Economics\nDavid Autor\nRichard Baldwin\nRavi ...
31  David Autor\nRichard Baldwin\nRavi Batra\nJagd...
32  Samir Amin\nGiovanni Arrighi\nRobert W. Cox\nA...
33  Arjun Appadurai\nDaniele Archibugi\nK. Anthony...
34  Noam Chomsky\nThomas Friedman\nNaomi Klein\nJo...
35                         Category\n Business portal

                                                   1   \
0   Anthropocene\nEcological footprint\nEnvironmen...
1                                                None
2                                                None
3                                                None
4                                                None
5                                                None
6                                                None
7                                                None
8                                                None
9                                                None
10                                               None
11                                               None
12                                               None
13                                               None
14                                               None
15                                               None
16                                               None
17                                               None
18                                               None
19                                               None
20                                               None
21                                               None
22                                               None
23                                               None
24                                               None
25                                               None
26  Climate change\nClimate justice\nDisease\nCOVI...
27                                               None
28                                               None
29                                               None
30  David Autor\nRichard Baldwin\nRavi Batra\nJagd...
31                                               None
32                                               None
33                                               None
34                                               None
35                                               None

                                                   2   \
0   Agriculture\nanimal agriculture\ncannabis cult...
1                                                None
2                                                None
3                                                None
4                                                None
5                                                None
6                                                None
7                                                None
8                                                None
9                                                None
10                                               None
11                                               None
12                                               None
13                                               None
14                                               None
15                                               None
16                                               None
17                                               None
18                                               None
19                                               None
20                                               None
21                                               None
22                                               None
23                                               None
24                                               None
25                                               None
26  Brain drain\nreverse\nCare drain\nDevelopment ...
27                                               None
28                                               None
29                                               None
30  Samir Amin\nGiovanni Arrighi\nRobert W. Cox\nA...
31                                               None
32                                               None
33                                               None
34                                               None
35                                               None

                                                   3   \
0   Biodiversity threats\nbiodiversity loss\ndecli...
1                                                None
2                                                None
3                                                None
4                                                None
5                                                None
6                                                None
7                                                None

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://en.wikipedia.org/wiki/World_population'

response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

# Find all the tables on the webpage
tables = soup.find_all('table')

dataframes = []  # List to store all dataframes

# For each table, create a DataFrame and append it to the list
for i, table in enumerate(tables):
    # The [1:] is to skip the header row
    rows = table.find_all('tr')[1:]
    data = []
    for row in rows:
        cols = row.find_all('td')
        cols = [col.text.strip() for col in cols]
        data.append(cols)
    df = pd.DataFrame(data)
    dataframes.append(df)

# Now dataframes[0], dataframes[1], etc. each contain a different table from the page
dataframes[5]

,0,1,2,3,4
0,,Graphs are unavailable due to technical issues...,None,None,None
1,1,China[B],"1,270","1,376","1,416"
2,2,India,"1,053","1,311","1,528"
3,3,United States,283,322,356
4,4,Indonesia,212,258,295
5,5,Pakistan,136,208,245
6,6,Brazil,176,206,228
7,7,Nigeria,123,182,263
8,8,Bangladesh,131,161,186
9,9,Russia,146,146,149
10,10,Mexico,103,127,148
11,,World total,"6,127","7,349","8,501"
12,Notes:\n\n\n^ 2030 = Medium variant.\n\n^ Chin...,None,None,None,None

## Stock market data scrapping

**Why stock market data scrapping is important?**

Stock market data scraping is important because it allows traders and investors to gather large amounts of data from various sources, analyze it, and make informed decisions based on the insights gained. This can include tracking stock prices, analyzing market trends, and monitoring news and social media sentiment. Additionally, stock market data scraping can help traders and investors identify potential risks and opportunities, and make more informed decisions about when to buy or sell stocks.

There are several libraries that can be used to scrape stock market data in Python. Some popular ones include:

BeautifulSoup
Scrapy
Selenium
Pandas
Requests
Each of these libraries has its own strengths and weaknesses, and the choice of which one to use will depend on the specific requirements of your project. For example, if you need to scrape data from dynamic websites that require user interaction, you may want to use Selenium. If you need to scrape data from multiple pages or websites, Scrapy may be a good choice. If you need to manipulate and analyze the data after scraping it, Pandas may be the way to go.

In [ ]:
# pip install yfinance

In [1]:
import yfinance as yf
import pandas as pd

In [8]:
# Define the ticker symbol
tickerSymbol = 'AAPL'
# get data on this ticker
tickerData = yf.Ticker(tickerSymbol)
# Get the stock price history
tickerDf= tickerData.history(period='1d', start='2010-1-1', end='2024-1-1')

# Get the last closing price
lastPrice = tickerDf['Close'].iloc[-1]

# Print the last closing price
print(lastPrice)

192.28463745117188

# Web Scrapping vs. web crawling

Web scraping and web crawling are two related but distinct techniques for gathering data from the web.

Web scraping involves extracting specific data from web pages, typically using tools like BeautifulSoup or Scrapy in Python.

This data can be used for a variety of purposes, such as analyzing market trends, monitoring social media sentiment, or gathering product information for price comparison websites.
Web crawling, on the other hand, involves systematically exploring the web to gather data, typically using automated bots or spiders.

This data can be used to create search engine indexes, monitor website changes, or gather data for academic research.
In summary, web scraping is focused on extracting specific data from web pages, while web crawling is focused on systematically exploring the web to gather data.

# Challenges scrapping stockmarket data

There are several common challenges when scraping stock market data, including:

Dynamic websites: Many stock market websites use dynamic content that is generated by JavaScript, which can make it difficult to scrape the data using traditional web scraping techniques. In these cases, you may need to use a tool like Selenium to automate a web browser and interact with the website in order to scrape the data.

Anti-scraping measures: Some websites may have anti-scraping measures in place to prevent automated scraping. These measures can include CAPTCHAs, IP blocking, or user agent detection. To avoid these measures, you may need to use techniques like rotating IP addresses or user agents, or using a proxy server.

Data formatting: Stock market data can be presented in a variety of formats, including tables, charts, and graphs. Extracting the data from these formats can be challenging, and may require specialized tools or techniques.

Data quality: Stock market data can be noisy and contain errors or outliers. It's important to carefully clean and validate the data before using it for analysis or decision-making.

Legal and ethical considerations: Scraping stock market data can raise legal and ethical concerns, particularly if the data is used for insider trading or other illegal activities. It's important to ensure that your scraping activities are legal and ethical, and to obtain any necessary permissions or licenses before scraping data.

# Techniques to avoid anti-scraping measures when scraping stock market data?

Use a proxy server: A proxy server can be used to route your requests through a different IP address, which can help you avoid IP blocking. There are several free and paid proxy services available that you can use.

Rotate user agents: Some websites may block requests from certain user agents, so rotating your user agent can help you avoid detection. You can use a library like fake_useragent in Python to generate random user agents for each request.

Slow down your requests: Sending too many requests too quickly can trigger anti-scraping measures, so slowing down your requests can help you avoid detection. You can use a library like time in Python to add a delay between each request.

Use CAPTCHA solving services: Some websites may require you to solve a CAPTCHA in order to access the data. There are several CAPTCHA solving services available that you can use to automate this process.

Use headless browsers: Some websites may use JavaScript to generate content, which can make it difficult to scrape the data using traditional web scraping techniques. Using a headless browser like Selenium can help you automate the process of interacting with the website and scraping the data.

It's important to note that while these techniques can help you avoid anti-scraping measures, they may not be foolproof and may still result in your requests being blocked or your IP address being banned. It's always a good idea to check the website's terms of service and to be respectful of their policies when scraping data.

# What are some common data formatting issues when scraping stock market data?

There are several common data formatting issues when scraping stock market data, including:

Inconsistent data types: Stock market data can be presented in a variety of formats, including text, numbers, and dates. It's important to ensure that the data is consistently formatted and that the data types are correct before using it for analysis.

Missing data: Stock market data can be incomplete or missing, which can make it difficult to analyze. It's important to handle missing data appropriately, either by imputing missing values or by excluding them from the analysis.

Non-standard data formats: Some stock market data may be presented in non-standard formats, such as PDFs or images. Extracting data from these formats can be challenging and may require specialized tools or techniques.

Data normalization: Stock market data can be presented in different units or currencies, which can make it difficult to compare across different stocks or markets. It's important to normalize the data to a common unit or currency before using it for analysis.

Data cleaning: Stock market data can be noisy and contain errors or outliers. It's important to carefully clean and validate the data before using it for analysis or decision-making.

It's important to be aware of these formatting issues when scraping stock market data and to take steps to address them before using the data for analysis.

# Let's scrape some stock market data!

In [9]:
import yfinance as yf
import pandas as pd

# Define the ticker symbol
tickerSymbol = 'GOOGL'
# get data on this ticker
tickerData = yf.Ticker(tickerSymbol)
# Get the stock price history
tickerDf= tickerData.history(period='1y')
# Print the last 5 rows of the DataFrame
print(tickerDf.tail())
print(tickerDf.head())
# Save the DataFrame to a CSV file
# tickerDf.to_csv('googl_stock_data.csv')

                                 Open        High         Low       Close  \
Date
2024-06-12 00:00:00-04:00  178.250000  180.410004  176.110001  177.789993
2024-06-13 00:00:00-04:00  176.110001  176.740005  174.880005  175.160004
2024-06-14 00:00:00-04:00  174.220001  177.059998  174.149994  176.789993
2024-06-17 00:00:00-04:00  175.460007  178.360001  174.809998  177.240005
2024-06-18 00:00:00-04:00  177.139999  177.389999  174.100006  175.089996

                             Volume  Dividends  Stock Splits
Date
2024-06-12 00:00:00-04:00  27864700        0.0           0.0
2024-06-13 00:00:00-04:00  20913300        0.0           0.0
2024-06-14 00:00:00-04:00  18063600        0.0           0.0
2024-06-17 00:00:00-04:00  19618500        0.0           0.0
2024-06-18 00:00:00-04:00  21869900        0.0           0.0
                                 Open        High         Low       Close  \
Date
2023-06-20 00:00:00-04:00  122.789074  124.427194  121.999979  122.958878
2023-06-21 00:00:00-04:00  122.259682  122.519386  119.962316  120.411804
2023-06-22 00:00:00-04:00  119.862437  123.098720  118.693780  123.008827
2023-06-23 00:00:00-04:00  121.240847  122.649234  120.921214  122.199745
2023-06-26 00:00:00-04:00  120.621562  121.860138  118.134411  118.204330

                             Volume  Dividends  Stock Splits
Date
2023-06-20 00:00:00-04:00  26097500        0.0           0.0
2023-06-21 00:00:00-04:00  30306300        0.0           0.0
2023-06-22 00:00:00-04:00  26952200        0.0           0.0
2023-06-23 00:00:00-04:00  34885300        0.0           0.0
2023-06-26 00:00:00-04:00  33969900        0.0           0.0

In [10]:
import yfinance as yf
import pandas as pd

# define ticker symbol
tickerSymbol = 'TSLA'

# get data on this ticker
tickerData = yf.Ticker(tickerSymbol)
# tickerData.info

# get the historical prices for this ticker
tickerDf = tickerData.history(period='1d', start='2010-1-1', end='2020-1-25')

# last closing price
tickerDf['Close'].iloc[-1]

print(tickerDf.head())
print(tickerDf.shape)

                               Open      High       Low     Close     Volume  \
Date
2010-06-29 00:00:00-04:00  1.266667  1.666667  1.169333  1.592667  281494500
2010-06-30 00:00:00-04:00  1.719333  2.028000  1.553333  1.588667  257806500
2010-07-01 00:00:00-04:00  1.666667  1.728000  1.351333  1.464000  123282000
2010-07-02 00:00:00-04:00  1.533333  1.540000  1.247333  1.280000   77097000
2010-07-06 00:00:00-04:00  1.333333  1.333333  1.055333  1.074000  103003500

                           Dividends  Stock Splits
Date
2010-06-29 00:00:00-04:00        0.0           0.0
2010-06-30 00:00:00-04:00        0.0           0.0
2010-07-01 00:00:00-04:00        0.0           0.0
2010-07-02 00:00:00-04:00        0.0           0.0
2010-07-06 00:00:00-04:00        0.0           0.0
(2410, 7)

In [15]:
import pandas as pd
import yfinance as yf
import datetime as dt
from datetime import date, timedelta

today = date.today()
d1 = today.strftime("%Y-%m-%d")
d1
d2 = (today - timedelta(days=365)).strftime("%Y-%m-%d")
d2
start_date = d2
end_date = d1

# define ticker symbol
tickerSymbol = 'META'

# get data on this ticker
tickerData = yf.Ticker(tickerSymbol)
# tickerData.info

# get the historical prices for this ticker
tickerDf = tickerData.history(period='1d', start=start_date, end=end_date)
tickerDf.head()

# tickerDf.to_csv('META.csv')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-06-21 00:00:00-04:00,282.948547,283.417585,277.789136,281.062439,20556200,0.0,0.0
2023-06-22 00:00:00-04:00,278.507683,284.675032,277.220350,284.295807,17563100,0.0,0.0
2023-06-23 00:00:00-04:00,280.932714,289.075984,278.377966,288.137909,50988400,0.0,0.0
2023-06-26 00:00:00-04:00,288.107957,289.195718,277.030715,277.898926,24232700,0.0,0.0
2023-06-27 00:00:00-04:00,281.431692,288.756636,280.074465,286.461334,26108300,0.0,0.0